[2013-08-23 17:24] segiddins opened #1 "No Podspec"
@nicolaschengdev, the last commit removed the Podspec, making it impossible to do
`pod 'WYPopoverController', :git => 'https://github.com/nicolaschengdev/WYPopoverController'`

[2013-08-23 18:02] nicolaschengdev commented on #1
Hi segiddins,

the 'podspec' file was added. You can now use the bleeding edge version of the Pod. Or a specific revision.

[2013-08-23 18:02] #1 closed, assigned to nobody

[2013-08-23 18:02] segiddins commented on #1
Thanks!

[2013-08-27 20:39] tatejones opened #2 "Supporting UINavigationController"
When attempting to add a UINavigationController to the popover it will appear, however any push of a viewController ( [self performSegueWithIdentifier:@"segueName" sender:self]) will fail to do anything.

Any ideas?

Cheers

[2013-08-27 22:26] nicolaschengdev commented on #2
Hi tatejones,

UINavigationController is supported. However UIStoryboardSegue is not.
The DEMO app implements a popover which is used with an UINavigationController.
I am watching how to add segue objects support.

Nicolas

[2013-08-27 22:26] #2 closed, assigned to nobody

[2013-08-28 07:43] tatejones commented on #2
Cheers.  I have been testing FPPopover, however it seems move complicated than it needs to be and lack UI customisation.  It does support UINavigation from a segue.

[2013-08-29 17:13] mbigatti opened #3 "Appereance proxy"
Hi. I was trying to customize the popover appearance but it seems that the proxies are implemented in an internal view not exposed with public API. I'm missing something?

regards,
MB

[2013-08-29 19:30] nicolaschengdev commented on #3
Hi MB!

What did you try to customize ?

Show me few lines of your code where you attempt to use WYPopoverController please.

A simple example :

WYPopoverBackgroundView\* appearance = [WYPopoverBackgroundView appearance];
[appearance setBorderWidth:8];
[appearance setArrowHeight:10];
[appearance setArrowBase:20];
...

For wait,
WYPopoverBackgroundView extends UIView which is compliant with UIAppe

[2013-08-29 21:24] nicolaschengdev commented on #2
Hi tatejones,

I just added UIStoryboardSegue support to WYPopoverController. And a 'DemoSegue' app showing how to use it.

Nicolas

[2013-08-30 04:42] mrcrow opened #4 "Popover never fadeout"
For WYPopoverController.m, I think it is better to change the codes in the if statements from line 1395 to the following:

 [UIView animateWithDuration:0.15 animations:^{
            overlayView.alpha = 0;
        } completion:^(BOOL finished) {
            completionBlock(YES);
            [viewController viewWillDisappear:YES];
        }];

[2013-08-30 08:37] nicolaschengdev commented on #4
Thanks mrcrow !

[2013-08-30 08:37] #4 closed, assigned to nobody

[2013-08-30 15:11] mbigatti commented on #3
sorry, now I got it.

[2013-08-30 15:32] nicolaschengdev commented on #3
No worry !

[2013-08-30 15:32] #3 closed, assigned to nobody

[2013-08-30 21:02] nicolaschengdev opened #5 "Incorrect position of popover when landscape + UINavigationController"
The bounds of root view is equals to (480, 320) instead of (480, 300) when root view controller is an UINavigationController and orientation is landscape.

It causes incorrect position of popover in this case.

![capture decran du simulateur ios 30 aout 2013 22 54 52](https://f.cloud.github.com/assets/2202583/1060666/888834f4-11b6-11e3-95c9-d7522ccde92f.png)

[2013-08-31 16:32] #5 closed, assigned to nicolaschengdev

[2013-08-31 17:36] nicolaschengdev opened #6 "Popover should disappear when users touch unused zones"
Popover should disappear when users touch unused zones.

![capture decran du simulateur ios 31 aout 2013 19 11 33](https://f.cloud.github.com/assets/2202583/1062681/28018028-1264-11e3-8660-72b6358c15ff.png)

[2013-08-31 17:40] #6 closed, assigned to nicolaschengdev

[2013-09-01 10:43] nicolaschengdev opened #7 "Add support for keyboard show/hide"
If the keyboard is shown or hidden then popover should adjust this layout.

[2013-09-01 13:55] nicolaschengdev opened #8 "Popover coming from a segue is not animated"
See DemoSegue app,

file `WYPlayersViewController.m` at line 51 :

[code]

The popover is not animated when it appears even if _animated_ argument is passed to **YES**.

[2013-09-01 13:58] #8 closed, assigned to nicolaschengdev

[2013-09-02 02:47] mrcrow commented on #4
You're welcome!

[2013-09-02 05:20] thepaddedcell opened #9 "UIImagePickerController on iPad"
Is it possible to use UIImagePickerController with WYPopoverController on iPad?

When I tried to do so, I received the following error:

`On iPad, UIImagePickerController must be presented via UIPopoverController`

[2013-09-02 06:11] nicolaschengdev commented on #9
Hi !

The documentation indicates that on iPad :

No, it's not possible to use your image picker ( _UIImagePickerController_ ) without _UIPopoverController_ on iPad if your picker is for choosing saved pictures and movies.

However, it's possible to use something else that an _UIImagePickerController_.

Few links :

[AGImagePickerController](https://github.com/arturgrigor/AGImagePickerController)

[2013-09-02 06:11] #9 closed, assigned to nobody

[2013-09-02 06:13] thepaddedcell commented on #9
Thanks Nicolas. I was hoping you knew a trick or something to get around this :)

Any recommendation of the 3 links you provided, if I decide to head down that route?

[2013-09-02 06:39] nicolaschengdev commented on #9
I cannot give you a recommendation on links because I didn't try one of them.
Ask yourself if your app is only for iPad and/or you need, for example, multiple selection for your picker.

My thought is :
If your app is only for iPad and you just need the standard features of `UIImagePickerController` class then you have to consider to only subclass the `UIPopoverBackgroundView` class based on image

[2013-09-02 14:20] pahmed opened #11 "Popover appears only after UICollectionView stops scrolling"
If i tried to show the popover while UICollectionView is scrolling it does not appear until the collectionView stops scrolling (I did not test it with UITableView or other scrollViews)

[2013-09-02 14:22] pahmed opened #12 "Popover flashes if you tried to rotate the device (even if you do not support except one orientation)"

[2013-09-03 08:36] nicolaschengdev commented on #11
Hi pahmed,
there is the same issue with `UITableView`. Tested last night.
Fix in progress.

**Nicolas**

[2013-09-03 09:25] iGranDav commented on #12
I've experienced the same issue when passing from `UIDeviceOrientationFaceUp` to `UIDeviceOrientationPortrait` you should not listen these notifications. Only `UIInterfaceOrientation` changes.

[2013-09-03 10:12] nicolaschengdev commented on #12
Thanks David,
you're right.

It's better to listen `UIApplicationDidChangeStatusBarOrientationNotification` notifications which are posted when the orientation of the application's user interface changes.

**Nicolas**

[2013-09-04 07:09] #11 closed, assigned to nicolaschengdev

[2013-09-04 07:09] #12 closed, assigned to nicolaschengdev

[2013-09-04 08:55] horaceho opened #13 "Work with InAppSettingsKit?"
Anyone pops an `IASKAppSettingsViewController` [InAppSettingsKit](https://github.com/futuretap/InAppSettingsKit) inside `WYPopoverController` successfully? I following the `UINavigationController` sample:

[code]

but second-level `IASKAppSettingsViewController`s are not pushed as expected.

[2013-09-04 09:11] nicolaschengdev commented on #13
Hi !

Your `WYPopoverController` is deallocated while it is still visible.

`WYPopoverController` works like `UIPopoverController` and both of them should always be held in an instance variable. It is a good practice to create a strong property for it.

**Nicolas**

[2013-09-04 09:11] #13 closed, assigned to nobody

[2013-09-04 09:17] horaceho commented on #13
Thank you!

[2013-09-08 00:40] tatejones opened #14 "Using a storyboard identifier - drops UINavigationController"
I have the following code.

UINavigationController _navigationController = [[UINavigationController alloc] initWithRootViewController: [self.storyboard instantiateViewControllerWithIdentifier:name]];
UIViewController *contentViewController = navigationController;
WYPopoverController_ popoverController = [[WYPopoverController alloc] initWithContentViewController:contentViewController];
popoverContr

[2013-09-08 04:30] nicolaschengdev commented on #14
Hi tatejones.

I have not been able to reproduce your issue.
- I loaded an `UITableViewController` named _StadiumList_ via storyboard
- I created manually an `UINavigationController` and I defined _StadiumList_ instance as root view controller
- I presented the whole with a popover

And when I select any tableCell it triggers a push segue to another view controller.

Without errors.

Your `popover

[2013-09-08 04:30] #14 closed, assigned to nobody

[2013-09-08 05:09] tatejones opened #15 "viewWillDisappear is being called twice."
I remove observers on the viewWillDisappear.  When tapping outside the popup or on the done button the viewWillDisappear is triggered twice.  In my case the app. crashes due to the observer is already removed.

Reproduce. add WYSettingsViewController to view the message being called twice.
- (void) viewWillDisappear:(BOOL)animated {
  NSLog(@"viewWillDisappear");
  }

[2013-09-08 05:54] #15 closed, assigned to nobody

[2013-09-08 07:01] tatejones opened #16 "Is iOS 5.1 supported - setDrawsAsynchronously?"
I appreciate your prompt support.  Great for overtime.

I have just upgrade to 0.1.2 for issue #15.  Now the following exception is occurring.

-[CALayer setDrawsAsynchronously:]: unrecognized selector sent to instance 0xa416480
 **\* Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[CALayer setDrawsAsynchronously:]: unrecognized selector sent to instance 0xa416480

[2013-09-08 09:01] nicolaschengdev commented on #16
Thanks tatejones for your reports.

It helps me to improve `WYPopooverController`.

I have just commited on master a fix for this issue. In hope it will be sufficient.

**Nicolas**

[2013-09-08 09:01] #16 closed, assigned to nicolaschengdev

[2013-09-12 10:23] CrEaK opened #17 "iOS7 Support?"
The WYPopoverController has graphical glichtes in iOS7. Is it planned to Support iOS7 as well?

Thanks for your Help!

[2013-09-12 11:29] nicolaschengdev commented on #17
Hi CrEaK. Yes it is planned to support iOS 7 in the next release (0.1.3).
With a white theme as default for iOS 7.

**Nicolas**

[2013-09-13 06:37] nicolaschengdev commented on #17
Work in progress...

![wypopover_ios7](https://f.cloud.github.com/assets/2202583/1136353/dc38fe84-1c3e-11e3-8766-90cddb5f1690.jpg)

[2013-09-13 12:43] shkutkov opened #19 "Wrong overlay position when showing popover from view controller that was presented modally"
In case of showing popover from view controller that was presented modally, overlay position is wrong.

For test purposes I've changed WYPOPOVER_DEFAULT_OVERLAY_COLOR to red color.

<img src="https://f.cloud.github.com/assets/426913/1138104/c24ca3b0-1c6e-11e3-8548-ed2d335d7a13.png" width="50%">

There is a gap (white stripe) between status bar and overlay.

[2013-09-13 20:00] #17 closed, assigned to nicolaschengdev

[2013-09-13 20:52] nicolaschengdev commented on #19
Overlay position has been fixed in the a227bdd357eaab00f08397c6cc8d84523d981afe commit.

[2013-09-13 20:52] #19 closed, assigned to nicolaschengdev

[2013-09-15 10:31] zetachang opened #20 "'contentSizeForViewInPopover' is deprecated in iOS 7"
Hi,

The master works pretty fine on iOS 7 :+1:

But there are still warnings popped out suggesting using `UIViewController.preferredContentSize` instead. I am thinking of a possible workaround which will check if the view controller respond to `preferredContentSize` first. If not, then fallback to use `contentSizeForViewInPopover`.

[2013-09-15 12:24] nicolaschengdev opened #21 "Add property 'modalInPopover' support"
**modalInPopover**

A Boolean value indicating whether the view controller should be presented modally by a popover.

[code]

The default value of this property is _NO_. Setting it to _YES_ causes an owning popover controller to disallow interactions outside this view controller while it is displayed. You can use this behavior to ensure that the popover is not dismissed by taps outside the popover

[2013-09-15 13:32] nicolaschengdev commented on #20
Hi zetachang,

thanks for your contribution !

**Nicolas**

[2013-09-15 13:32] #20 closed, assigned to nicolaschengdev

[2013-09-16 12:19] #21 closed, assigned to nicolaschengdev

[2013-09-16 12:31] nicolaschengdev opened #22 "Add '-popoverController:willRepositionPopoverToRect:inView:' support on delegate"
#### -popoverController:willRepositionPopoverToRect:inView:

Tells the delegate that the popover controller needs to change the popover’s location in its view.

[code]
##### Parameters

_popoverController_
The popover controller changing the position of its content.

_rect_
On input, the proposed rectangle for the popover. This popover is in the coordinate space of the view in the view parameter.

[2013-09-16 21:31] shkutkov opened #25 "Minimum requirement of iOS 7.0"
It seems that now we cannot use WYPopoverControl on iOS 6 via CocoaPods, because of this line:

`s.ios.deployment_target = '7.0'`

Is it mistake?

[2013-09-16 21:54] nicolaschengdev commented on #25
Hi shutkov,

there is no mistake.

You can declare in your PodFile that your target platform use ios 7, for example (from one of my projects) :

[code]

And set the deployment target of your project to iOS 6.1.

**Nicolas**

[2013-09-16 21:54] #25 closed, assigned to nobody

[2013-09-17 11:46] nicolaschengdev opened #26 "Popover is not animated when changing popoverContentSize property"
Popover is not animated when changing `popoverContentSize` property.

[2013-09-17 15:16] bizz84 opened #27 "WYPopoverController crashes if areas array is empty"
Crashes on this line:

arrowDirection = ((WYPopoverArea*)[areas objectAtIndex:0]).arrowDirection;

This happens for me when I set the popoverContentSize

Also, ideally the ([areas count] > 1) check should be extended.

[2013-09-17 17:08] #27 closed, assigned to nicolaschengdev

[2013-09-17 17:12] nicolaschengdev commented on #27
I am not yet satisfied with this method :

[code]

But for now it works. Need more tests and situations.

**Nicolas**

[2013-09-18 14:46] manjeettbz opened #29 "ios6 issue"
its crashing on ios 6

---

2013-09-18 10:45:55.021 WYPopoverDemo[4607:c07] -[WYSettingsViewController setPreferredContentSize:]: unrecognized selector sent to instance 0x75c68c0
2013-09-18 10:45:55.027 WYPopoverDemo[4607:c07] **\* Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[WYSettingsViewController setPreferredContentSize:]: unrecognized selector sent to ins

[2013-09-18 15:27] #29 closed, assigned to nicolaschengdev

[2013-09-19 05:24] tatejones opened #30 "Has iOS5 support been removed from the pod?"
Performing a pod update generates the following error.

[!] The platform of the target `Pods` (iOS 5.1) is not compatible with `WYPopoverController (0.1.4)` which has a minimum requirement of iOS 6.0.

[2013-09-19 06:28] tatejones commented on #30
Missing?

 s.platform     = :ios, '5.1'

[2013-09-19 06:33] nicolaschengdev commented on #30
Hi tatejones,

no it's not missing.

Because I decided to remove support of iOS 5.1 for `WYPopoverController`.

For now with [0.1.4] release, I have only tested with SIMULATOR. It seems to work.

The solution, in your PodFile, write :

[code]

And configure _deployment target_ of your project to iOS 5.1 .

**Nicolas**

[2013-09-19 06:41] #30 closed, assigned to nobody

[2013-09-19 12:42] JulesMoorhouse opened #31 "Value stored to 'reducedOuterCornerRadius' during its initialization is never read"
Hi,

I'm getting the following Xcode 5 analyser warning…

/snip/Classes/WYPopoverController/WYPopoverController.m:951:17: Value stored to 'reducedOuterCornerRadius' during its initialization is never read

Jules.

[2013-09-19 13:07] nicolaschengdev commented on #31
Hi,

which version of Xcode do you use ?

I have installed the latest Xcode 5 (from App Store) and I haven't this error.
Can you retry with the latest version of Xcode 5 please. And reopen this issue if it need.

**Nicolas**

[2013-09-19 13:07] #31 closed, assigned to nicolaschengdev

[2013-09-19 13:27] JulesMoorhouse commented on #31
Yeah I've just updated beta 6 to the App Store version and got that warning

Jules

[2013-09-19 14:52] nicolaschengdev commented on #31
My version of _Xcode 5_ is `5A1413`.
My version of _MacOSX_ is `10.8.5`.

And I cannot reproduce this issue using static analyzer. See screenshot.

![capture decran 2013-09-19 a 16 51 33](https://f.cloud.github.com/assets/2202583/1173629/0ad4f346-213b-11e3-92bd-784a94be935a.png)

[2013-09-19 15:03] shkutkov commented on #31
Hi Jules,

Are you using the latest version of WYPopoverController - 0.1.4? I had the same issue with 0.1.3 and now it's gone.

[2013-09-20 12:32] JulesMoorhouse commented on #31
Yes this is now fixed with the current code.

[2013-09-20 12:56] nicolaschengdev commented on #31
Thanks @shkutkov for your comment !
Happy coding @Jules2010 !

[2013-09-23 13:34] iGranDav opened #32 "iOS7 support"
The popover does not showing well on iOS7.

It's totally shrinked.

Thanks in advance.

[2013-09-23 14:59] nicolaschengdev commented on #32
Hi,

could you provide me a screenshot please. And a sample code please.

Thanks.

[2013-09-23 15:09] iGranDav commented on #32
Hi,

I've just tested on your demo project on **iOS 7** and it works. Here is why : you define a content size for your view in popover via `contentSizeForViewInPopover` property.

In **iOS 6** when you don't define any size the embedded controller take the maximum screen size : now it's totally shrinked (cf. screenshot)
![capture decran du simulateur ios 23 sept 2013 17 11 18](https://f.cloud.gith

[2013-09-23 15:18] iGranDav commented on #32
I was running an old version ( **1.2.0** ), last stable ( **1.4.0** ) fixed that... Sorry for inconvenience.

Thanks for support !

[2013-09-23 15:18] #32 closed, assigned to nicolaschengdev

[2013-09-23 15:32] nicolaschengdev commented on #32
Never mind.

[2013-09-26 12:29] Timac opened #34 "NSStringFromOrientation and GetStatusBarHeight should be marked as static"
The methods
NSString\* NSStringFromOrientation(NSInteger orientation)
and
CGFloat GetStatusBarHeight()

generate a warning "No previous prototype for function" because the 'static' keyword is missing.

To fix these warnings, the static keyword needs to be added:
static NSString\* NSStringFromOrientation(NSInteger orientation)
static CGFloat GetStatusBarHeight()

[2013-09-26 20:35] nicolaschengdev commented on #34
thanks !

[2013-09-26 20:35] #34 closed, assigned to nicolaschengdev

[2013-10-01 10:07] leoahkun opened #37 "Using UINavigationController as ContentViewController"
This doesn't seem to work for me.

CCRootViewController *ccrvc = [[CCRootViewController alloc] init];
    UINavigationController *navController = [[UINavigationController alloc] initWithRootViewController:ccrvc];
    self.popoverController = [[WYPopoverController alloc] initWithContentViewController:navController];
    self.popoverController.delegate = self;
    [self.popoverController presentPopo

[2013-10-01 11:11] nicolaschengdev commented on #37
Hi Leonard,

with which version of _WYPopoverController_, are you experiencing your trouble ?
Your application crashes ? The popover appears but content is blank ?

Did you follow examples presented in demos ?

**Nicolas**

[2013-10-01 11:13] leoahkun commented on #37
The screen dimmed with no popup. I've managed to solve the problem though setting the preferredContentSize.

thanks

[2013-10-01 11:13] #37 closed, assigned to nobody

[2013-10-01 11:17] nicolaschengdev commented on #37
Great !

The last stable release (0.1.4) fixes this bug when `preferredContentSize` is not setted using iOS7.

[2013-10-01 22:06] dwery opened #38 "iOS7 content size"
It seems there's some extra space between the bottom border and the contentView
with iOS7. The same code works nicely on iOS6.

preferredContentSize is used with iOS7 and contentSizeForViewInPopover on iOS6

[2013-10-02 00:42] nicolaschengdev commented on #38
Hi,

The following show you an example for iO6 and iO7. I made two screenshots. And it doesn't seem to have any extra space between the bottom border and the content view of the popover.

**CODE**

[code]

**SCREENSHOTS**

![screenshot_compare_ios6-7](https://f.cloud.github.com/assets/2202583/1250518/2b7165f2-2afb-11e3-9392-03facd121c7b.png)

[2013-10-02 00:42] #38 closed, assigned to nobody

[2013-10-02 09:32] dwery commented on #38
I'll check again and make a screenshot if the problem persists, thanks

[2013-10-02 10:04] dwery commented on #38
Here's my code:

[code]

[2013-10-02 11:19] nicolaschengdev commented on #38
Hi dwery,

here my code :

[code]

And like you can see with `NSLog`, when you trace the height of `UIDatePicker`it gives _216_ instead of _162_.

The height _162_ is the real height of an `UIDatePicker` with iOS7.

It is why you have an extra spacing.

It's not an issue coming from `WYPopooverController` but from the implementation of `UIDatePicker` with the iOS SDK 7.0.

Cheers

[2013-10-02 15:24] dwery commented on #38
Ouch! Thank you

[2013-10-02 18:57] #22 closed, assigned to nicolaschengdev

[2013-10-03 17:34] jdewind commented on #26
+1 This would be a really useful feature.

[2013-10-06 22:49] phedlund opened #39 "Using UIAppearance prevents dynamic changes"
Thanks for a great control. Changes to UIAppearance do unfortunately not apply to existing instances of a control. Thus it is currently not possible to change the colors of a popover while it is shown.

[2013-10-07 07:55] nicolaschengdev commented on #39
No you cannot change appearance properties like colors when popover is shown.

Perhaps, in a next release, I will add a _style_ named property on `WYPopoverController` which will be used like a proxy in order to achieve this goal.

[2013-10-07 15:19] phedlund commented on #39
Maybe the easiest would be to expose the containerView as a property?

[2013-10-07 16:44] nicolaschengdev commented on #39
The popover is composed with two views :
- `containerView` as background view
- `innerView` as foreground view

These two views share few properties to render the popover.
Manipulate these two views is a bit  complicated.

That's why I think a new property named _style_ is required in order to keep things simple to use.

**Nicolas**

[2013-10-07 16:47] phedlund commented on #39
Sounds great. The reason I want this is to be able to dynamically switch "themes", actually between "day" and "night" modes in a reader app.

[2013-10-07 23:24] dwery commented on #38
Setting edgesForExtendedLayout = UIRectEdgeNone on the controller solved the issue.

[2013-10-08 00:09] nicolaschengdev commented on #38
The commit [6fffc5e8ec](https://github.com/nicolaschengdev/WYPopoverController/commit/6fffc5e8eca14f2f59ef599626fac0915df6b67a) solves this.

[2013-10-08 10:58] dwery commented on #38
why the swizzling? Isn't setting it on the controller that gets added to the popover enough?

[2013-10-09 02:54] nicolaschengdev commented on #38
Because I try to reproduce the default behaviors of `UIPopoverController`.
One of these behaviors is to automatically set `edgesForExtendedLayout` to `UIRectEdgeNone` on each `UIViewController` embed in an `UINavigationController`.

[2013-10-09 10:21] dwery commented on #38
I wonder if they just traverse the tree or have some special hook/delegate

[2013-10-09 12:18] nicolaschengdev commented on #38
I don't know how they do their stuff.
Tell me if you find a better way in order to accomplish that.

Cheers

**Nicolas**

[2013-10-09 18:02] dwery commented on #38
I guess they have some hidden interface.

 Probably the cleanest way would be to have `WYNavigationController` as a subclass of `UINavigationController`. Then `pushViewController:animated:` could be modified to set the edges.

Pro: cleaner interface
Con: the user has to be instructed to use the new `WYNavigationController`

[2013-10-10 13:18] nicolaschengdev commented on #38
My thoughts : It will be very annoying if we have to use a subclass of `UINavigationController`.

I will attempt a try with KVO in order to detect new pushed view controllers into a navigation bar controller.

**Nicolas**

[2013-10-10 17:06] scastria opened #41 "Usage as custom dialog popup?"
Whenever I needed a custom modal popup dialog, I would always customize UIAlertView.  This leads to trouble since it is not supported and Apple always changes the innerworkings of UIAlertView causing my customizations to break with every iOS release.  Therefore, I started looking at thirdparty popover controllers (to gain iPhone support) and found this one.  It looks and works great.  However, whe

[2013-10-11 03:33] nicolaschengdev commented on #41
Hi,

good idea. You have just commited so I can stop to work on this enhancement.

**Nicolas**

[2013-10-11 03:33] #41 closed, assigned to nobody

[2013-10-16 10:38] bizz84 opened #44 "Visual glitch when borderWidth property set to 0"
Setting the borderWidth property to 0 results in a visual glitch at the bottom of the popover.
![wypopover](https://f.cloud.github.com/assets/153167/1341663/761c7c5e-364f-11e3-94c8-91596c5c4c1c.jpg)

[[WYPopoverBackgroundView appearance] setBorderWidth:0]

Ideally if outerCornerRadius > 0 and borderWidth == 0, the outerCornerRadius is used in the bottom of the popover so that a rounded corner is p

[2013-10-16 12:00] nicolaschengdev commented on #44
Hi Andrea,

which release of `WYPopoverController`is used ?

Because it seems that it's already handled in release 0.1.6, _WyPopoverController.m_ line 1615 :

[code]

Could you try with 0.1.6 release please ?

**Nicolas**

[2013-10-16 13:19] bizz84 commented on #44
I've tested with 0.1.6 and the problem persists.
It can be seen in the image attached that the bottom corners are indeed rounded, but some other view's bounds are overlaid and still square.

This is my setup:

[code]

[2013-10-16 17:12] #44 closed, assigned to nicolaschengdev

[2013-10-24 09:40] mignick opened #46 "selecting a parent view(rootView)"
Thanks for a great control!
It seems to me there is a small issue in

[code]

It's not good idea to select blindly last view from a window as an parent. At least it should be checked for visibility etc. But I think to move rootView property to the public interface is a better approach: if a user does not set this property then select something from window's subviews.

Thanks!

[2013-10-24 11:22] nicolaschengdev commented on #46
It seems you are in a special case and the best practice would be to remove any hidden views I think.

I will experiment an another implementation because your solution doesn't follow UIPopoverController protocol and it minds me.

[2013-10-25 06:41] fdddf opened #47 "never display after add chartboost"
After I integrated chartboost's Ad, the popover view can not be shown up.

[2013-10-25 06:53] nicolaschengdev commented on #47
I don't know what is Chartboost's Ad and how it works.
If you can tell me how they do their stuff then I will search a solution.

**Nicolas**

[2013-10-25 07:01] fdddf commented on #47
@nicolaschengdev

[code]

That's the code to show ad, likes a popover upon the window layer.
I can not find the source code except the header,
And this link https://help.chartboost.com/getting-started is their documents.

And I debuged code with PonyDebugger,
The WYPopover's background view and overlayview is hidden, alpha is 0, and frame is zero.

Thanks for your help.

[2013-10-25 08:02] nicolaschengdev commented on #47
Thanks for your contribution !

[2013-10-25 08:04] nicolaschengdev commented on #46
fixed with issue #47

[2013-10-25 08:04] #46 closed, assigned to nobody

[2013-11-05 04:03] vuluu commented on #47
sorry! I do not know anywhere to post my question about  WYPopoverController so I decided do it here.  help me to hide done button and change the color text to white or any color, when I set appearance color to black the title is black too.

[2013-11-05 05:26] nicolaschengdev commented on #47
Hi,

if you are using an UINavigationController into your popover then try to customize navigation bar like this exemple :

[code]

Which "done" is involved ?
A screenshot and few lines of code could be easier for me in order to help you.

My guess is you are not using _chartboost_, right ?
Open a new issue if I am right please.

Because this issue about _chartboost_ was resolved.

[2013-11-05 05:36] #47 closed, assigned to nobody

[2013-11-05 07:44] vuluu opened #49 "Hide "done" button and show title of WYPopover"
I found problem when i change the appearance color to black  the title is black color too, how to change title color to other color.  Help me to hide the blue Done button. Can I expand the area in the botton of WYPpover? and add other button in there place
here is image from simulator and some code
http://postimg.org/image/9qpr6cand/

[2013-11-05 07:47] vuluu commented on #47
yes, I do it. Help me solve problem in https://github.com/nicolaschengdev/WYPopoverController/issues/49

[2013-11-05 14:01] nicolaschengdev commented on #49
In order to hide the "Done" button, remove this line :

[code]

In your code, `NotificationTable` is a subclass of UINavigationController ?

If yes then try the following :

[code]

[2013-11-06 04:31] vuluu commented on #49
The done button is right but the color of title still do not work. If notificationTable is not subclass of UINavigationController do you have any other idea to help me change the color of title ???

[2013-11-06 10:37] nicolaschengdev commented on #49
In order to display a title, you have to embed your `NotificationTable` view controller into an `UINavigationController` container controller.

WYPopoverController works like UIPopoverController.

[code]

In the "WYPopoverDemo" app, the color of title works even if you have a black **fillTopColor**. See screenshot.

I have no idea why your app not works just like demo app.

Step by step try to ide

[2013-11-07 04:59] vuluu commented on #49
yes, I got that from beginning so I can not find the logic explanation for that.Maybe my UINavigationController is controlled by JASliderBar. I will retry. Any result thank you million time!!!!

[2013-11-07 09:08] vuluu commented on #49
last one problem I want to ask. Now the content of (Pop)contentviewcontroller is a table with many cell, I want to press a cell and the popover is disappear and I go to new viewcontroller. so how can I do it in table did select row???

[2013-11-07 09:58] nicolaschengdev commented on #49
There are many ways : Delegation, Notification or Observation.

[When to use Delegation, Notification, or Observation in iOS](http://blog.shinetech.com/2011/06/14/delegation-notification-and-observation/)

That depends of your app.

**Nicolas**

[2013-11-07 09:58] #49 closed, assigned to nobody

[2013-11-08 04:57] vuluu commented on #49
Thank for your helpfull support!! I done!

[2013-11-13 18:13] inPhilly commented on #34
I get a warning in my compiler "unused function 'NSStringFromOrientation'"

[2013-11-14 09:36] SlimShady0208 opened #50 "WYPopoverController is shown 'behind' a UIViewController that is presented modal with 'UIModalPresentationPageSheet'"
Hello guys,

I stumbled upon this component 2 days ago and it would fit my requirements perfectly, but I am not getting it running in my scenario.

I built a very simple test case:
- I have a button im my main view, that opens up an UIViewController with 'UIModalPresentationPageSheet' presentation style.
- Inside this modal view Controller there is another button, which should open up the WYPopove

[2013-11-15 01:52] nicolaschengdev commented on #50
Hi,

can you give it a try again please.

**Nicolas**

[2013-11-15 06:00] SlimShady0208 commented on #50
Thanks for your work. I did test your fix in my environment. The popover now appears in front of the modal view controller but it is rotated 90° counterclockwise. Could you confirm this behavior?

Regards,
SlimShady0208

[2013-11-15 08:48] nicolaschengdev commented on #50
It's not yet perfect. But, for now, with this commit : popovers are not rotated.

[2013-11-15 09:47] SlimShady0208 commented on #50
Yep ... I can confirm ... the fix is working now. Thanks again.

[2013-11-15 10:44] #50 closed, assigned to nicolaschengdev

[2013-11-16 02:10] jhersh commented on #26
I have a standard nav controller in a `WYPopoverController` and I can't seem to change the popover's size at all after it's been presented. My view controllers implement `preferredContentSize` and I've also tried assigning to the `popoverContentSize` property.

Any suggestions here?

[2013-11-23 16:09] osrl commented on #34
i get the same warning too with @mommyme

[2013-11-26 17:04] inPhilly opened #52 "self.layer.delegate = self; - should the delegate be reset to nil in dealloc for WYPopoverBackgroundView?"
Should you be setting

self.layer.delegate = nil;

in the dealloc method for WYPopoverBackgroundView? I am having some odd crashes that I cannot reproduce (live apps) and I think I have possibly traced the error back here.

[2013-11-27 14:12] inPhilly commented on #52
Does anyone have any thoughts on this? I don't want to change it if changing it will actually cause a problem.

[2013-11-27 22:52] nicolaschengdev commented on #52
Hi mommyme,

Did you be able to reproduce crashes ?

No need to set layer delegate to nil because WYPopoverBackgroundView is properly deallocated from what I see in Instruments.

[2013-11-27 22:52] #52 closed, assigned to nobody

[2013-11-28 03:28] edward-lay commented on #7
Is this still in progress because I do have bug.

I have textfield that is inside the Popover Controller and when keyboard is shown, the popover is covered by the iPad keyboard.

For my other textfield in the app, I have TPKeyboardAvoiding to help me adjust the view.

[2013-11-28 03:32] edward-lay opened #53 "Nothing shown when user click outside the window without using the Done button to close"
I am using this code just like the one in the Demo:

[code]

Notice that I have placed a NSLog(@"test"); under the self done, your demo has not gone and displayed that line in the log (expected behaviour). However, mine does when user did not use the Done button to close the Popover. What other codes am I missing? How can I rectify this?

[2013-11-28 08:03] nicolaschengdev commented on #53
Hi edward-lay.

In this Demo, a delegate for the popover is defined :

[code]

So when a user touch outside the popover, the following method is called :

[code]

Because `- (BOOL)popoverControllerShouldDismissPopover` returns _YES_.

**Nicolas**

[2013-11-28 08:30] nicolaschengdev commented on #7
I have just tested this functionality under iOS7.
It works but a serious performance issue appears.
Please consider this functionality is still in progress.
Sorry for the inconvenience.

[2013-11-28 08:55] edward-lay commented on #53
i understand your explanation, however, when a user touches outside the popover, the method (popoverControllerDidDismissPopover) is not called.

I have the delegate there, how come it is not working?

[2013-11-28 11:03] nicolaschengdev commented on #53
Which version of WYPopoverController is used in your code ?

Try to use the version from master branch which is the latest version in development.

I have tested Demo app from master branch and there is nothing wrong with theses methods.

These methods were renamed in the latest release or before.

**Nicolas**

[2013-11-29 02:49] edward-lay commented on #53
i have solved it using your latest version (didn't know you had an update 19hours ago). thanks! You can close this issue.

[2013-11-29 08:50] nicolaschengdev commented on #53
Good news !
It was just an update for Demo app but I am happy that it works fine now for you.

**Nicolas**

[2013-11-29 08:50] #53 closed, assigned to nobody

[2013-11-29 10:09] priore commented on #7
When keyboard is shown, the popover is covered by the iPhone (ios7) keyboard.

[2013-12-03 04:49] edward-lay commented on #7
I have illustrated my example in sketches, pardon my drawing (=

http://sketchtoy.com/56683196

There are 3 scenarios, and the sketches tells the estimated position of the buttons/popover/keyboard. So for the first scenario: the popover auto-shifted which was the normal behaviour. I believe this was because the popover detects that it has sufficient space above it and thus it could adjust and re-p

[2013-12-03 23:01] nicolaschengdev commented on #7
I understood your drawings and I shall take a look as soon as possible. Unfortunately I am very busy with my others projects. So please be patient ! ^^

[2013-12-12 02:52] allenlinli opened #55 "Can the animating duration of popover view showing up be controlled?"
The duration is too short, so it looks like flash when it shows up.
Hope I can control it.

Thank you.

[2013-12-12 09:57] avalanched opened #56 "ios5.0"
Why was ios5.1 chosen instead of ios5.0 in the podspec?

on the other hand i get this,

[!] The platform of the target `Pods` (iOS 5.1) is not compatible with `WYPopoverController (0.1.7)` which has a minimum requirement of iOS 6.0.

but the podspec specifies 5.1 as deployment target

[2013-12-30 12:38] Samback opened #57 "rootView some times problem in this place of logic."
Probably it will be great not only check for if(!view.isHidden) because when I use hud it's the first element :) Maybe it will be better to check for [view isKindOfClass:UIViewController]  ?
- (UIView *)rootView
  {
  UIWindow *result = [[UIApplication sharedApplication] keyWindow];

  if (result.subviews.count > 0)
  {
      for (UIView *view in result.subviews)
      {
          if(!view.isHidde

[2014-01-07 06:13] edward-lay commented on #7
Just found out that the issues are with WYPopoverArrowDirectionDown and WYPopoverArrowDirectionUp, WYPopoverArrowDirectionLeft and WYPopoverArrowDirectionRight does shift itself when the keyboard appears

[2014-01-16 02:16] boscojwho opened #59 "WYPopoverController does not conform to UIAppearanceContainer"
WYPopoverController does not conform to UIAppearanceContainer. I'm using pod 'WYPopoverController', '~> 0.1.7' on 7.1 (b3).

Calling something like the following causes crash:
UINavigationBar\* navBarInPopoverAppearance = [UINavigationBar appearanceWhenContainedIn:[UINavigationController class], [WYPopoverController class], nil];

Fix:
Add protocol to class header: @interface WYPopoverController :

[2014-01-20 04:06] hubertwang opened #60 "Navigation bar appearance weird when it is hidden."
Hi,

I've started to use WYPopover in my project a few months ago. Everything works fine until I try to put my view controller in a navigation controller.

I need to push another view controller, but I don't need navigation bar in first view controller.
So I set 'top bar' property of the navigation controller to none. However, there is something wrong with the navigation bar.

Here I use the demo

[2014-01-24 12:22] hsoi commented on #57
I just got bit by `-rootView` as well, but in a different way.

I looked at the closed issues here and I see #46 and #47 are related, and explain why the `-isHidden` check is in there.

But I'm curious as to why this `-rootView` method is in there in the first place. Why isn't `keyWindow` itself sufficient?  What is `-rootView` trying to accomplish? What assumptions is it making, and could it be s

[2014-01-26 19:55] nicolaschengdev commented on #59
Thanks boscojwho !

[2014-01-26 19:55] #59 closed, assigned to nobody

[2014-01-28 06:53] nicolaschengdev commented on #60
Hi hubertwang,

it is a bug.
As a workaround, please can you try to define transparent border colors for your popover ?

[2014-01-28 07:13] nicolaschengdev commented on #57
Hi,

a more solid solution is to add popover on top of subviews. In the same window of the view which is passed as argument in the following method :

[code]

I am currently working in order to implement this solution. And to support orientation and keyboard with this solution.

[2014-01-30 09:09] #57 closed, assigned to nobody

[2014-01-30 09:11] nicolaschengdev commented on #56
Fixed. Sorry for the late.

[2014-01-30 09:11] #56 closed, assigned to nobody

[2014-01-30 09:21] avalanched opened #62 "Deprecate UIAppearance?"
I'm having the same issues with WYPopoverController in iOS7
where it becomes slower and slower described here:

http://stackoverflow.com/questions/19144139/cache-eraseimp-nolock-taking-very-long-in-ios-7

Maybe its a good thing to gradually deprecate the use of UIAppearance?

[2014-01-30 09:28] #55 closed, assigned to nobody

[2014-01-30 09:48] nicolaschengdev commented on #62
Where did you see warnings in the documentation about UIAppearance ?

[2014-01-30 09:54] avalanched commented on #62
I'm not seeing that apple is deprecating UIAppearance, but i'm experiencing the same problems as described on the stackoverflow post where cache_eraseImp_nolock is taking a serious amount of time when opening WYPopoverController

[2014-01-30 10:32] nicolaschengdev commented on #62
Do you have a solution or a workaround ?
Maybe Apple is currently fixing this bug about cache_eraseImp_nolock.

[2014-01-30 10:40] avalanched commented on #62
I did found a replacement for the UIAppearance, https://github.com/Collect3/CTAppearance
But it didn't fix my problems regarding WYPopoverController - maybe its best to wait for iOS 7.1 i will check then if my problem still persists.

[2014-01-30 12:37] hsoi commented on #57
Cool. I will look at this in the coming days and let you know how it goes. Thank you!

[2014-02-02 15:04] Isuru-Nanayakkara opened #63 "When the keyboard over laps the popover"
Hi,

Great library. I'm using this in my second project. In this one however, I have run in to a small situation. The popover I'm displaying is fairly long. Therefore when the keyboard comes up, it overlaps the popover.

As a solution, I added a UIScrollView to the popover and in viewDidLayoutSubviews mthod, I set its its contentSize and frame. Like so

[code]

This almost works. The scrollview wo

[2014-02-02 18:11] viking2009 commented on #63
try self.scrollView.frame = self.view.bounds;

[2014-02-02 18:17] Isuru-Nanayakkara commented on #63
Works like a charm :+1: Thank you :D

[2014-02-02 18:17] #63 closed, assigned to nobody

[2014-02-02 22:37] nicolaschengdev commented on #63
Thanks!
:+1: for viking2009

[2014-02-03 13:57] hsoi opened #64 "implicit retain of 'self' within blocks"
There are numerous places in the WYPopoverController code where 'self' is being implicitly retained.

Enable the compiler warning:  "Implicit retain of 'self' within blocks" (CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF, -Wimplicit-retain-self) and you'll see them.

[2014-02-03 14:15] hsoi commented on #57
Finally got a chance to try this out. So far so good! Seems like a better solution all around. Thanx.

[2014-02-04 05:33] Isuru-Nanayakkara opened #67 "Arrow doesn't get the Navigation bar's background color"
My app is a storyboard app and I'm presenting it using WYStoryboardPopoverSegue (like in the DemoSegue project in the example projects). The view controller is embedded in a UINavigationBarController so a a navigation bar appears in the popover view as intended.

Somehow that navigation bar wouldn't conform to the UAppearence proxy I had set up in the app's AppDelegate file. Therefore I changed it

[2014-02-04 12:51] nicolaschengdev commented on #67
Hi,
you have to change `fillTopColor`and `fillBottomColor`.
Border and arrow colors of the popover come from these two colors.

[2014-02-04 12:51] #67 closed, assigned to nobody

[2014-02-04 12:54] Isuru-Nanayakkara commented on #67
These are properties of WYPopoverBackgroundView, right? Where do I assign the instance of WYPopoverBackgroundView to the WYPopoverController?

[2014-02-04 13:01] Isuru-Nanayakkara commented on #67
Got it!  Thank you :+1:

[code]

[2014-02-06 03:49] hubertwang commented on #60
Transparent border colors did fix the issue, but I need borders. So I changed top bar property of my first view controller to inferred instead. Anyway, thanks for your workaround :)

[2014-02-06 06:46] #60 closed, assigned to nobody

[2014-02-06 15:55] Isuru-Nanayakkara opened #68 "Showing the popover from the accessoryView in UITableViewCell"
Hi Nicolas,

I have run into another problem. I want to display the popover when the UITableViewCell's accessoryView is tapped on. I have all the code and the views set up right. I checked by displaying it from a UIBarButtonItem. Even from a UITableViewCell, it displays the popover but not when you tap on the accessoryView.

Can you please tell me how I can do this?

I have a runnable Xcode projec

[2014-02-06 17:41] plaetzchen opened #69 "Add animation Option to dismiss"
Hi,

Thank you for your great work, I really like it!
One issue: If I show the popover I can add an option how it should be animated, unfortunately this is not possible if I dismiss the popover.

Bests,
Philip

[2014-02-10 17:24] nicolaschengdev commented on #68
[code]

[2014-02-10 17:24] #68 closed, assigned to nobody

[2014-02-10 17:48] Isuru-Nanayakkara commented on #68
That worked! Thank you very much. You've been always very helpful. :+1:

[2014-02-10 22:20] #64 closed, assigned to nobody

[2014-02-10 23:17] nicolaschengdev commented on #69
Hi,

now you can add an `option` animation when you dismiss the popoover, with this new method :

[code]

Nicolas

[2014-02-10 23:17] #69 closed, assigned to nobody

[2014-02-11 16:48] hsoi commented on #64
awesome! thank you!

[2014-02-11 19:56] ghost opened #70 "Can't dismiss popover when VoiceOver is turned on"
Doesn't it work with VoiceOver? If turn on VoiceOver on device and present a popover in app (f.e. in Demo), than tap outside the popover does't dismiss it. The workraround to close popover is to tap "Done" button though.

[2014-02-12 05:47] nicolaschengdev commented on #70
VoiceOver speaks items on the screen :
- Tap once to select an item
- Double-Tap to activate the selected item
- Swipe three fingers to scroll

So, double-tap outside of the popover in order to close it when VoiceOver is turned on.

[2014-02-12 05:47] #70 closed, assigned to nobody

[2014-02-12 15:02] Timac commented on #70
There is indeed a problem with VoiceOver. You can't double-tap outside of the popover to close it when VoiceOver is turned on. The issue can be reproduced with the demo app WYPopoverDemo:
- On an iPad turn on VoiceOver
- Launch WYPopoverDemo
- Tap once on 'B' to select it
- Double-Tap on 'B' to open the WYPopover. Note that the title of the view is now selected.
- Double-Tap outside of the popover

[2014-02-12 19:27] hsoi commented on #64
Well, turns out this isn't fixed.

I can get it to crash because by the time some of the blocks fire, `self` isn't around any more. Thus the dereferencing of `self` is a dereference of `nil` and things crash.

So where you have blocks doing something like:

[code]

it just needs to guard for nil:

[code]

and that seems to take care of it.

[2014-02-13 13:15] Timac commented on #70
I just tested and it is indeed fixed now. Thanks!

[2014-02-15 15:47] mdebeus opened #72 "When popover is dismissed with "Done" button, can no longer interact with window."
I ran both demos. For each demo, the popover is shown. When I click the done button the popover is removed, but the screen remains dim and the window cannot be interacted with.

If I click outside the popover to dismiss it, this problem does not occur. It looks like, in the problem case, the close function is called, while in the non-problematic case it is not.

Ran the simulator with IPhone Retin

[2014-02-15 16:07] #72 closed, assigned to nobody

[2014-02-15 16:47] mdebeus commented on #72
That worked - thank you!

[2014-02-16 00:10] gilroykilroy opened #73 "Needs to use tintAdjustmentMode"
Under iOS 7 you should be setting tintAdjustmentMode of the window to UIViewTintAdjustmentModeDimmed and then back to UIViewTintAdjustmentModeAutomatic when dismissed.

I was able to workaround this by setting it myself before presenting the popover and resetting it in popoverControllerDidDismissPopover delegate.

[2014-02-16 01:08] gilroykilroy opened #74 "transformTranslateForArrowDirection not correct in landscape mode"
Using WYPopoverAnimationOptionScale doesn't look right (at least when presented from a bar button item) when the device is rotated to landscape.

[2014-02-16 02:30] #73 closed, assigned to nobody

[2014-02-16 08:44] #74 closed, assigned to nobody

[2014-02-16 12:12] #7 closed, assigned to nicolaschengdev

[2014-02-17 03:28] #26 closed, assigned to nicolaschengdev

[2014-02-18 04:10] edward-lay commented on #7
IT WORKS!!!! (=

thanks Nicolas!

[2014-02-18 23:13] walsht opened #75 "Getting a breakpoint 1.3 on setPopoverContentSize"
Getting a breakpoint 1.3 on setting setPopoverContentSize

[code]

[2014-02-19 04:35] #75 closed, assigned to nobody

[2014-02-19 19:52] walsht commented on #75
Still getting the issue on iOS 7.0.3 Simulator and iPad

[2014-02-19 22:02] gschom opened #76 "Warning of unrecognized selector"
Need to change "setPreferredContentSize" to "setPreferredContentSize:" on line 1538 of WYPopoverController.m

[2014-02-20 04:18] nicolaschengdev commented on #76
Duplicated issue. See issue #75 .

[2014-02-20 04:18] #76 closed, assigned to nobody

[2014-02-20 04:22] nicolaschengdev commented on #75
Did you use master branch of the repo ?
Because fix was applied.

[2014-02-20 04:36] nicolaschengdev commented on #75
Tag 0.2.0 updated. You can use `pod update` now.

[2014-02-20 12:32] ogarkov-dev opened #77 "No way to disable keyboard repositioning"
I have encountered an issue that the popover always adjusts to keyboard offset. Is it possible to add an ability to control this behavior? I need my popover to be visible under iOS 7 keyboard. Some kind of BOOL property would be ideal.

[2014-02-20 16:43] nicolaschengdev commented on #77
fixed issue #77, see commit [d7fab2e644...](https://github.com/nicolaschengdev/WYPopoverController/commit/d7fab2e64462ae60ba4392f5290a1effaeabfde4)

By default, when keyboard is shown, popover will be repositionned if it is (partially) hidden.
Introduced in 0.2.1 release, you can control value of y offset when keyboard is shown with the following `delegate` method :

[code]

[2014-02-20 16:45] nicolaschengdev commented on #39
fixed issue #39, see commit [d7fab2e644...](https://github.com/nicolaschengdev/WYPopoverController/commit/d7fab2e64462ae60ba4392f5290a1effaeabfde4)

Introduced in 0.2.1 release, you can change appearance of your popovers with themes.

[code]

[2014-02-20 16:45] #39 closed, assigned to nicolaschengdev

[2014-02-20 17:36] ogarkov-dev commented on #77
Is there a way to completely ignore the keyboard appearance? I mean to avoid even resizing.

[2014-02-20 17:56] ogarkov-dev opened #78 "Changing default theme does nothing"
If default theme is set it is assumed that it will be used by popover by default. Instead it uses iOS 6 / iOS 7 themes as default.

[2014-02-20 18:23] nicolaschengdev commented on #77
I could add another delegate method :
`- (BOOL)popoverControllerShouldIgnoreKeyboardBounds:(WYPopoverController *)popoverController`

[2014-02-20 18:51] ogarkov-dev commented on #77
That would be great!
Or you can add a BOOL property to your popover instance in order to control this.

[2014-02-20 20:59] drewmca opened #79 "Crash when dismissing popover"
I have a popover controller that contains a UICollectionView of items for selection. In my "didDismiss" delegate method, I set the popover property on my calling view controller to nil. The popover is triggered by a button press on that calling view controller.

If the user is scrolling through the collection view (i.e., the scroll animation is in process) when the popover is dismissed, I get a cr

[2014-02-20 21:14] #77 closed, assigned to nobody

[2014-02-20 21:15] #78 closed, assigned to nobody

[2014-02-20 21:38] nicolaschengdev commented on #79
Hi,

In the **Demo app**, it uses an UITableView.
If you start to scroll through cells, tap on Done button before the end of scrolling then the popover is correctly dismissed without crashes.
I think it's a similar case than yours.

Please use master branch of repo and give it a try. Or give me a sample code.

[2014-02-21 03:56] edward-lay opened #80 "New updates 0.2.1 issue"
I replaced with the new updates of 0.2.1 and my current popovers became a blank when I present them. They just show the outline of a square.

I went to see your demo codes and there was almost no changes except for the close method.

I am currently running ios6 (ios7 also gives me the same problem).

What are the new codes that I need to add?

[2014-02-21 04:05] nicolaschengdev commented on #80
Very strange. There are no new codes that you need to add.
Can you send me a sample of your code ?

[2014-02-21 04:22] edward-lay commented on #80
sure, I am using these codes below, linked with the storyboard.

[code]

[2014-02-21 04:42] nicolaschengdev commented on #80
It seems there is nothing wrong with this code.
Are you sure that `checkViewController` reference is not nil ?

[2014-02-21 05:34] edward-lay commented on #80
Nope. I did save a previous version of my app (that has ur previous version), there doesn't seem to be much difference when i did those breakpoint and analyse the `checkViewContoller`.

[2014-02-21 05:54] nicolaschengdev commented on #80
Demo app works for you ?
I tested it with simulator and device under iOS7. And all tests succeeded.
Did you watch if the size of the view of your view controller is not equal to `CGSizeZero` ?

[2014-02-21 06:08] edward-lay commented on #80
Yes demo app works for me.
I have also tested my app on iOS6 device and it yields the same result.

how do I watch if the size of the view of your view controller is not equal to CGSizeZero ?

[2014-02-21 06:13] nicolaschengdev commented on #80
Try this code :

[code]

[2014-02-21 06:33] edward-lay commented on #80
I have tried on 2 apps (one with old WYPOP and the other with new WYPOP lib), and also have used this code instead:
`NSLog(@"view.bounds = %@", NSStringFromCGRect(self.view.bounds));`

//old version of wypop - view.bounds = {{0, 0}, {552, 211}}
was not able to print any with the new version of lib

any idea?

[2014-02-21 06:38] nicolaschengdev commented on #80
There is something wrong with your storyboard if the method `-(void)viewDidAppear:(BOOL)animated` is never called.
Check and check again.

[2014-02-21 07:48] ogarkov-dev commented on #80
I have encountered this issue too. It appeared on commit 3fed844d45. Reverting back to  d7fab2e644 (previous one) works nicely.

I am using iOS 7 only and this code for appearance:

[code]

[2014-02-21 07:56] ogarkov-dev commented on #80
That is interesting. This code works as needed even on 3fed844 commit:

[code]

[2014-02-21 07:58] edward-lay commented on #80
@anToha could you reset your simulator or delete the app on your device and try again, see if it works?

[2014-02-21 08:09] ogarkov-dev commented on #80
@edward-lay that did not help. My first code snippet works as described but the second one works perfectly.

[2014-02-21 10:12] edward-lay commented on #80
okay, I figured this out. the new necessary code to add with the new update 0.2.1 is the setting the theme regardless of whether the platform is iOS6/iOS7

WYPopoverTheme *newTheme = [WYPopoverTheme themeForIOS6];
anyPopoverController.theme = newTheme;

(and yes in this way, the `-(void)viewDidAppear:(BOOL)animated` will be called)

[2014-02-21 10:25] ogarkov-dev commented on #80
Yes, that fixed my issue.

So the problem is that the default theme is not automatically initialized.

Here is the code snippet (WYPopoverController.m:1627) describing the bug:

[code]

It is initialized with itself here.
But if there is no default theme iOS6 / iOS7 theme should be used.

[2014-02-21 16:39] nicolaschengdev commented on #80
Thanks to you both !
I think issue is resolved now.

[2014-02-21 16:39] #80 closed, assigned to nobody

[2014-02-21 16:39] walsht commented on #75
I updated to 0.2.1 and not getting the breakpoint, so you can close this issue.

Thanks.

[2014-02-21 17:21] nicolaschengdev commented on #75
OK walsht

[2014-02-21 18:55] ogarkov-dev commented on #80
Now works perfectly!
@nicolaschengdev thank you for a great project and instant support!

[2014-02-22 03:36] edward-lay commented on #80
thanks for the library too~ (=

[2014-02-23 00:16] gilroykilroy opened #81 "Not working correctly with 64-bit apps"
Everything works fine under the simulator but not on an actual iPad Air. I traced it down to the appearance local in the init method. It seems it is not returning good values on the device (items like arrowBase and arrowHeight are 0).

The appearance proxy stuff isn't working.

[2014-02-23 00:32] nicolaschengdev commented on #81
Hi, could you give it a try again.

[2014-02-23 00:41] gilroykilroy commented on #81
I can’t seem to get the latest version. cocoa pods still gets 0.2.2. Tried using the git option and that still doesn’t fix the issue.

On Feb 22, 2014, at 4:32 PM, Nicolas C. notifications@github.com wrote:

[2014-02-23 00:45] gilroykilroy commented on #81
I cloned the repo directly and see you updated the demo only. I am using WYPopoverController directly without making any appearance changes in my app.

On Feb 22, 2014, at 4:41 PM, Jeff Shulman kilroy@lighthousewoods.com wrote:

[2014-02-23 00:53] gilroykilroy commented on #81
I see the change from initialize to load now. However that didn’t fix the issue either.

On Feb 22, 2014, at 4:45 PM, Jeff Shulman kilroy@lighthousewoods.com wrote:

[2014-02-23 00:57] nicolaschengdev commented on #81
Did you look the demo app ?

Here my code how to customize my popover with UIAppearance proxy :

[code]

[2014-02-23 01:00] gilroykilroy commented on #81
But I am not customizing the appearance in any way, I use it out of the box. Somehow the appearance proxy stuff isn't working right on a device.

[2014-02-23 01:04] nicolaschengdev commented on #81
My code was tested on an iPad Air under iOS 7.0.4 with the code below :

[code]

UIAppearance proxy is working like expected.

What is your code ?

[2014-02-23 01:10] gilroykilroy commented on #81
I'm trying to figure out why your demo works fine but my app doesn't.

[2014-02-23 01:43] nicolaschengdev commented on #81
Ok, thanks. It will be more easy for me to help you if you can find location of issue.

[2014-02-23 16:03] gilroykilroy commented on #81
I added this to setDefaultTheme:

[code]

and on my sim it logs

2014-02-23 08:00:28.335 WP[7168:70b] appearance <_UIAppearance:0x9b2d840> <Customizable class: WYPopoverBackgroundView> with invocations (...
 )> arrowHeight 13.000000, aTheme <WYPopoverTheme: 0x9b2aa30> arrowHeight 13.000000

but on my device it logs

2014-02-23 08:01:03.775 WP[6180:60b] appearance <_UIAppearance:0x170240690> <Custo

[2014-02-23 16:36] gilroykilroy commented on #81
I figured it out (but don't understand why): If you include the 64-bit architecture in the build (which my app did but your demo didn't) then they both fail. Removing the 64-bit build makes it work.

[2014-02-23 17:04] gilroykilroy commented on #81
Submitted bug 16143704 : CGFloat in Appearance proxy not working in 64-bit architecture

[2014-02-23 18:00] nicolaschengdev commented on #81
And what happens if we use float instead of CGFloat ?

[2014-02-23 20:07] gilroykilroy commented on #81
That did not work either. Changing them to NSIntegers did work.

On Feb 23, 2014, at 10:00 AM, Nicolas C. notifications@github.com wrote:

[2014-02-25 11:38] edward-lay opened #82 "Position of Popover when keyboard is present"
Hi Nicolas,

There are 2 issues currently that I need your help in. My app is in always in Landscape mode, iPad. The 2 buttons illustrated below is quite similar to the one in the DEMO app.

1) The Top button triggered gives me a 'WYPopoverArrowDirectionUp'. When the keyboard appears, it remains WYPopoverArrowDirectionUp, and shrunk my popover and my content has been cut off.

2) The Center button

[2014-02-25 11:59] nicolaschengdev commented on #82
Hi Edward,

If you are using 0.2.2 release, I can suggest you the following :
- Implement this delegate method `- (BOOL)popoverControllerShouldIgnoreKeyboardBounds:(WYPopoverController *)popoverController` and make it to return `YES`
- Set `popoverContentSize` in response to `UIKeyboardWillShowNotification` and `UIKeyboardWillHideNotification`

[2014-02-25 12:05] nicolaschengdev commented on #81
I have changed them to `NSUInteger`.

[2014-02-25 12:05] #81 closed, assigned to nobody

[2014-02-25 12:06] nicolaschengdev commented on #79
@drewmca ping

[2014-02-25 12:21] edward-lay commented on #82
Thanks for the prompt reply, as usual.

Implementing the popoverControllerShouldIgnoreKeyboardBounds is not favourable to other buttons that also implements popover positioned somewhere else. The keyboard will cover them as they are at the bottom.

How do I use the 2nd one? Is it something like this?
- (void)keyboardWillShow:(NSNotification *)notification {
  checkPopoverController.popoverContentS

[2014-02-25 13:57] nicolaschengdev commented on #82
Maybe you have to use an `UIScrollView` if your content cannot fit screen when keyboard is shown ?

And this library can be useful : [TPKeyboardAvoiding](https://github.com/michaeltyson/TPKeyboardAvoiding).

In fact, setting `popoverContentSize` is not the right way because you maybe need to also change the position of your popover.

[2014-02-25 15:52] edward-lay commented on #82
I actually have that library too but I could not get it to work in the shrunk popover.

If I could get 'scrolling' to work, it looks weird with the popover shrunk to like 50px in height and there is a huge space between that shrunk popover and the keyboard.

[2014-02-25 16:27] nicolaschengdev commented on #82
Can you provide me screenshots ? Before and after keyboard is shown please.
Because 50px of height seems over exaggerated ! :]
I'm thinking about several scenarios and solutions.

[2014-02-25 20:02] ericertl opened #83 "UINavigationBar appearance"
The navigation bar in the popover doesn't apply the settings from UIAppearance set in the appdelegate.
[[UINavigationBar appearance] setBarTintColor:....
[[UINavigationBar appearance] setTintColor:....

Do you know what could be causing this?

Here's a screenshot of how the app nav bar looks like and the popover nav bar:
![image](https://f.cloud.github.com/assets/777783/2262184/1196687e-9e57-11e3-

[2014-02-25 21:38] nicolaschengdev commented on #83
An exemple for iOS7 :

[code]

[2014-02-25 21:38] #83 closed, assigned to nobody

[2014-02-26 02:33] edward-lay commented on #82
Sure. (Maybe I did over exaggerate (= ) I have modified your demo and placed the project in my dropbox, https://www.dropbox.com/s/3dkn1f8u69p5f6j/Demo.zip

You will have to scroll down to the textfield to get the keyboard to appear

1)Take a look at Center and Center2, it replicate my first scenario but didn't autoscroll to the textfield

2) Center4 and Center5 replicate my second scenario - shrun

[2014-02-26 05:58] nicolaschengdev commented on #82
Thanks for your demo.

I begin to much better see the whole picture.

![](https://raw.github.com/nicolaschengdev/WYPopoverController/master/screenshots/wypopovercontroller-keyboard-sample.jpg)

I could add a property if developer would want to allow popover to be shrunk when keyboard is shown. And give developer amount of space in less in order to use it for adjusting scroll position of this conte

[2014-02-26 06:10] edward-lay commented on #82
I think the IgnoreKeyboardBounds delegate may still be needed in other scenarios? as the screenshots may not be the combination of all possibilities.

Perhaps I could try the new shrunkPopover delegate first before giving you more details! (=

[2014-02-27 07:03] edward-lay commented on #82
Hey Nicolas, I tried with the fix you released yesterday. I could not get it to work. Will you be releasing the property for developer to disable shrunk of popover when keyboard is shown?

[2014-02-27 08:06] nicolaschengdev commented on #82
Not yet released. You will be notified when it is ready.
Cheers

[2014-02-27 18:33] tschmitz opened #84 "UIAppearance-based configuration seems broken"
I recently tried to configure popover appearance using the UIAppearance selectors and was unable to get them to work. For instance, I tried one of the examples given in the readme:

[code]

This seemed to have no effect. However, the theme-based approach did work:

[code]

[2014-02-27 18:35] tschmitz commented on #84
Quick update: It looks like setting the default to a generic theme allows the UIAppearance selectors to work:

[code]

Perhaps it'd be worth adding that to the documentation?

[2014-02-28 03:12] edward-lay commented on #82
Great! Keep up the good work! (=

[2014-02-28 04:27] nicolaschengdev commented on #84
Thank you @tschmitz
I have updated README file.

Next release of `WYPopoverController` will initialize automatically a default theme for you.

[2014-02-28 04:27] #84 closed, assigned to nobody

[2014-03-04 11:16] telipskiy commented on #82
Waiting for this update too))

[2014-03-07 11:24] jvieten opened #86 "WYPopoverController appearance effects app after the popup has been disposed"
After WYPopoverController has been dismissed the whole Appearance of the App is changed. For Example Navigation Buttons are  gray which should be blue....

[2014-03-07 12:16] #86 closed, assigned to nobody

[2014-03-07 12:18] jvieten commented on #86
sorry ...just a quick update I had named my WYPopoverController _popoverController and
got into trouble because there is also a so called member in UIViewController.

[2014-03-08 12:14] Ricardo1980 opened #87 "Animation not shown when dismissing manually"
Hello! Thanks for your component, very useful ;)

One problem I have, my popover has 2 buttons, DONE and CANCEL. I created a custom delegate, that dismisses the popover when one of those 2 buttons are pressed., something like:
- (void) cancelledCategorySelection
  {
  [_categoriesPopoverController dismissPopoverAnimated:YES];
  self.categoriesPopoverController=nil;
  }

Problem is that I don't see

[2014-03-08 12:32] nicolaschengdev commented on #87
Hi,

 try this :

[code]

Or use this :

[code]

[2014-03-08 12:32] #87 closed, assigned to nobody

[2014-03-08 13:23] Ricardo1980 commented on #87
Thanks!
The first one has the problem that you are wasting memory.
The second one,I see a potential problem, which is tapping too fast an showing one popover after another. Then when the first is being closed, it could release the variable that is used by the first one, isn't it?
Thanks.

[2014-03-08 14:31] nicolaschengdev commented on #87
In the first, I have to think about.

In the second, if you create another popover then the first is deallocated.

Nicolas

[2014-03-14 21:24] TomSwift opened #89 "presentPopoverAsDialogAnimated not working?"
Nothing happens.  Tracing in the "inView" parameter is nil.  Calling with one of the other "present" variants and passing a view works.

[2014-03-25 20:15] 942v opened #90 "How to remove the black dim view of the back?"
I want to resize that view or remove it. thanks

[2014-03-25 20:32] #90 closed, assigned to nobody

[2014-03-26 04:29] akac opened #91 "Blur the background"
There are a lot of blur UIView projects/methods out there. Many use the UIToolbar layer - but that's not accepted by Apple (they reject apps with that).

I'd like to see WYPopoverController use FXBlurView or something similar.

[2014-03-26 10:08] Ankish opened #92 "Demo"
Both the demo projects are in Segue though in Demo folder you have two seperate folders.

[2014-03-28 14:44] Mohamed-Abden opened #93 "Present Modal From WYPopoverController"
iam trying to present modal from Controller contained by WYPopovercontroller .
when dismissing modal the wypopovercontroller fit all screen size .
any help please.

[2014-03-29 07:24] Hengyu opened #94 "UIViewController(popoverController's contentViewController) was deallocated while key value observers were still registered with it"
Under some certain circumstances(but I don't know the specific condition),  the instance popoverController will soon disappear after It appeared, and Xcode said:

"An instance 0x154e20f00 of class UIViewController was deallocated while key value observers were still registered with it. Observation info was leaked, and may even become mistakenly attached to some other object. Set a breakpoint on NS

[2014-04-01 15:20] Timac opened #95 "'strongSelf': warning declaration shadows a local variable"
There is a warning when compiling with -Wshadow:

WYPopoverController.m:2351:
**typeof**(self) strongSelf = weakSelf;

WYPopoverController.m:2345:
**typeof**(self) strongSelf = weakSelf;

It would be good to rename one of the 'strongSelf ' variable to avoid this warning.

[2014-04-03 13:16] Mohamed-Abden opened #96 "cannot present MFMailComposeViewController in WYPopoverController ?"
MFMailComposViewController *mailController  = [MFMailComposViewController alloc] init];
WYPopoverController *popover= [[WYPopoverController alloc] initWithContentViewController:mail];

Result cannot interact with mail view controller

[2014-04-11 12:57] VrasidasP opened #97 "Present WYPopoverController constrained in view"
In iPad, I want to present a WYPopoverController from a button which is inside a container subview of my main view.

I present it using:
[popoverController presentPopoverFromRect:sender.bounds inView:sender permittedArrowDirections:WYPopoverArrowDirectionAny animated:YES options:WYPopoverAnimationOptionScale];

I want the popover to stay confined inside the subview.
I've tried setting the popoverL

[2014-04-14 07:42] VrasidasP commented on #97
Never mind, it was actually the popoverLayoutMargins, I just wasn't passing correct values. :)

[2014-04-14 07:42] #97 closed, assigned to nobody

[2014-04-22 20:55] JulesMoorhouse opened #101 "Dismiss popover from tableview"
How do I dismiss the popover?

I'm using presentPopoverFromBarButtonItem and my content view is a tableview.

I've removed my done navigation bar button on my content view, as don't need it.

I'll like to use the table view rows to make checkbox selections and tap / trigger options.

Having the Done button here doesn't make sense.

However as a child view I'm not sure how to dismiss ?

[2014-04-22 23:12] Hengyu commented on #101
You can set a property to your child viewController in childViewController.h file such as:
@property (strong, nonatomic) parentPopoverVC;

In your mainViewController, when you call the method:
presentPopoverFromBarButtonItem
add this:
[childViewController setParentPopoverVC:popoverViewController];

Then, in your childViewController.m file, you can write this:
#pragma mark - UITableView Delegate
-

[2014-04-23 17:48] JulesMoorhouse commented on #101
Thanks Hengyu for your reply, however I can't get this to work.

From a nav bar button on my mainViewController I have...

[code]

---

Then in PopoverHandlerController.m I have....

[code]

Nothing seems to work as I'd expect.

I was hoping this would fire an event in my mainViewController like...

[code]

So I could then action what was selected from the table view.

Thoughts ?

[2014-04-23 18:10] JulesMoorhouse commented on #101
I've even tried.... which is what the done button does from the mainViewController, maybe it's somehow retaining something as triggering the button does't show the popoverView as nil ?

[code]

[2014-04-25 15:11] nicolaschengdev commented on #101
Hi,

I would suggest you to implement DELEGATE pattern in your child view controller which is the content of your popover.

It should look like this :

[code]

[code]

[code]

[2014-04-25 15:11] #101 closed, assigned to nobody

[2014-04-29 19:59] JulesMoorhouse opened #102 "Navigation bar goes darker upon push / pop?"
Is there any way to stop the navigation bar going darker when pushing and popping between view controllers?

I don't want to turn animation off.

I think this is something I've seen before with iOS7.

[2014-04-29 20:23] JulesMoorhouse opened #103 "Navigating different content sizes causes issues"
I'm not sure that this is the best approach but I can't think of an alternative?

My first view controller in my navigation stack in the popover has two rows and is quite small, so I set the contentSizeForViewInPopover accordinging.

However the second view disclosed from the first item is much taller, I've also added some inline date pickers. So on push I make the content size taller.

As I say I

[2014-04-30 12:42] JulesMoorhouse commented on #103
Sorted....  http://stackoverflow.com/questions/2752394/popover-with-embedded-navigation-controller-doesnt-respect-size-on-back-nav/23388396#23388396

[2014-04-30 12:42] #103 closed, assigned to nobody

[2014-04-30 18:44] akac opened #104 "sizzled_setPreferredContentSize can get into a re-entrant loop"
We're using a third party framework that does this:

[code]

and we're getting an infinite loop
https://www.dropbox.com/s/fu61bgam7xj9rqp/Screenshot%202014-04-30%2011.52.12.png

[2014-05-01 12:47] jamesbrucepower opened #105 "UIAutomation can't tap a button specified with passthroughViews, but UIPoperControllers can"
UIAutomation can't tap a button specified with passthroughViews, but UIPoperControllers can.

Is Apple doing something specified with the UIResponder chain to make this work with UIAutomation, as it works with a UIPopoverController but not a WYPopoverController ?

To be clear, I don't have a problem when using the app physically, but if writing functional tests using UIAutomation I can't get it to

[2014-05-02 16:21] mkutgt72 opened #106 "Position problem with UISearchBar"
Quick view of a problem:
![qv](https://cloud.githubusercontent.com/assets/3737798/2864704/ac2317c6-d213-11e3-86aa-f9661b4ca2db.PNG)

Demo project: https://github.com/mkutgt72/PopoverProblem

I can confirm it on iPad Air (iOS 7.1.1)
I can't confirm it on simulator

When I change orientation to portrait or split keyboard everything becomes alright:
![img_0034](https://cloud.githubusercontent.com/ass

[2014-05-15 11:31] yuri32 commented on #102
I have the same problem and don't know how to fix it.
Any ideas?

[2014-05-15 11:43] JulesMoorhouse commented on #102
I turned off animations and did my own

[2014-05-16 10:28] yuri32 commented on #102
I found the answer:

self.navigationController.navigationBar.translucent = NO;

before calling pushViewController

[2014-05-19 00:04] lauxer opened #108 "ArrowOffSet"
I didn't succeed to find how to change the arrowOffSet of the popover. What am I missing ?

Regards.

[2014-05-19 09:33] nicolaschengdev commented on #108
Hi,
what did you already try ?

[2014-05-19 11:42] lauxer commented on #108
Hi and thanks for your fast reply :)

First, I tried to change the ArrowOffset with WYPopoverTheme, but there is no property changing the ArrowOffset (or I missed it ?).

After that, I tried to play with the property "popoverLayoutMargins" but with no effects on my popover.

Finally, I searched in WYPopoverController implementation file, to find a property "arrowOffset" which is private so I can't

[2014-05-22 19:44] hsoi opened #109 "innerCornerRadius inconsistency"
The `innerCornerRadius` property is inconsistent.

`WYPopoverTheme` declares it as a property of type `NSUInteger`. However, the implementation of the property works with it as a `float` (and then, why not a `CGFloat`?).

There's a like-named property in `WYPopoverBackgroundInnerView` and there it's declared as a `float` (again, why not a `CGFloat`?). Is this inconsistency intentional?

Given how

[2014-05-28 02:12] hengchengfei commented on #90
how to remove the view of the back? thanks.

[2014-05-28 02:33] hengchengfei opened #110 "how to change the margins of the overlay view?"
I want to close button's popover  when click other button without clicking the view of the back.

button1->click->popover display
button2->click->the popover of button1 is closed,and the button2's popover display.

@nicolaschengdev

[2014-06-04 18:56] JulesMoorhouse opened #112 "Accessibility"
Hi,

I'm trying to add the popover controller to my automated tests, using UIAutomation.
This uses accessibility to define controls and and things like table rows.

However, nothing I set using....

[code]

Produces things like this...

target.frontMostApp().mainWindow().elements()[10].tapWithOptions({tapOffset:{x:0.64, y:0.37}});
target.frontMostApp().mainWindow().elements()[10].tapWithOptions({t

[2014-06-04 21:02] JulesMoorhouse commented on #112
Hmmmm, I took out these lines and everything worked as I'd expect, do I need them?

[code]

[2014-06-05 13:12] JulesMoorhouse commented on #112
Actually, I've no clue what to do, I've tried removing them, even setting a different traits value.

Even setting a trait when I set my own.

When running my uiatutomation script the simulator doesn't like what ever I do.

The only thing that works is those horrid inflexible tapOffset calls :(

Sigh...

[2014-06-06 05:31] JulesMoorhouse commented on #105
Did you make any progress on this?

I'm having the samilar issues https://github.com/nicolaschengdev/WYPopoverController/issues/112

If you remove the isenabled... and traits none lines, you can specify labels in your own code, but these aren't recognised when you run your script. Despite the fact that profile / record produces them using the labels.

They only success I'm having is by using tap w

[2014-06-09 05:27] aperritano opened #113 "Swift example?"
its still understandably early, but how would you use WYPopoverController with swift from a controller from a storyboard?

[2014-06-09 18:53] JulesMoorhouse commented on #105
Please see my discussion I have a fix

[2014-06-09 18:55] JulesMoorhouse commented on #112
OK after going round in circles and repeatedly looking at the wrong build....

Remove those two lines and add this to all of your custom views and the popover handler...

[code]

And in cellForRowAtIndexPath

[code]

[2014-06-09 18:55] #112 closed, assigned to nobody

[2014-06-11 21:42] craiggrummitt opened #115 "Problem with WYPopoverController appearance.outerStrokeColor?"
I'm getting an obscure error on some iOS devices - they're crashing on launch. I have a WYPopoverController in the initial UIView. Unfortunately I don't have the devices to test on, but I have a friend who I may be able to send betas. After symbolicating his CrashLog, I have the following line:

.str132 (in _myapp_) + 38
+
+[WYPopoverController setDefaultTheme:](in *myapp*) (WYPopoverController.m:

[2014-06-13 19:12] zuri1 commented on #82
Is this fix ready yet?

[2014-07-02 10:46] criistii opened #118 "Persistent Popup keeps growing by 2 pixels on Opening"
I have a persistent  WYPopoverController and UIViewController, used as a popup menu. Every time I call presentPopoverFromRect:, the viewController increases in size by 2 pts in each direction. How do I avoid this?

[2014-07-02 11:17] netadp opened #119 "WYPopoverController showing with UIAlertView"
![2](https://cloud.githubusercontent.com/assets/6636682/3454988/802a0206-01d9-11e4-8a54-ece01b413ab9.JPG)

There is a strange phenomenon when I show a UIAlertView from a WYPopoverController. Some pixels are possibly located in wrong layers. The picture taken by me shows the problem. My version is 0.1.7.

And the same problem occurs when I present another WYPopoverController from the first one.
It

[2014-07-02 22:08] dvkch opened #120 "Possible typo in WYPopoverController.m:1406 and 1416"
Here is the code :

[code]

I think `arrowDirection` should be `aArrowDirection` for both second parts of the if statement.

[2014-07-03 19:34] BobReid opened #122 "Rotating the device causes the popover to rotate before the view behind it."
Should hide the popover during the animation like Apple does.
Submitted a PR for this
https://github.com/nicolaschengdev/WYPopoverController/pull/121

[2014-07-06 03:15] dannys42 opened #124 "Disable Overlay"
I needed a way to disable the overlay in some cases (because I'm using it sort of like a tool tip).  I have a simple few lines that adds a property to enable/disable the overlay.

I can send a patch if you like...  But I still have no idea how to contribute to a github project.  Their docs are still a bit abstract, but I can give it a go if you'd like.

[2014-07-15 08:30] hsin919 opened #125 "[iOS6]UIViewController extension make ABPeoplePickerNavigationController recursive call when dismiss"
iOS6 only
The extension sizzled_setContentSizeForViewInPopover for UIViewController will make ABPeoplePickerNavigationController crash during dismissing.
![screen shot 2014-07-15 at 4 32 58 pm](https://cloud.githubusercontent.com/assets/5482629/3582302/3ccecc50-0bfa-11e4-952d-469632f6cc05.png)

[2014-07-15 08:41] hsin919 commented on #125
You can make a quick sample by using Apple's sample code.
https://developer.apple.com/library/ios/samplecode/QuickContacts/Introduction/Intro.html#//apple_ref/doc/uid/DTS40009475
Thanks.

[2014-07-15 09:24] Gman9855 commented on #2
Hi nicolas,

In your demo you are using static cells....  when i try using multiple view controllers within a nav controller and with dynamic cells, when i segue from within the popover it goes to a fullscreen view and gets rid of the popover...  any suggestions?  Thanks!

[2014-07-15 09:27] Gman9855 commented on #2
never mind, got it working!

[2014-07-15 17:19] Gman9855 opened #126 "Popover doesn't retain it's contentSize in a navigation controller"
if i have the contentSize set to half of it's original size when i first present the popover, and then i navigate to another view controller, the contentSize will revert to the default size.

[2014-07-16 10:39] hsin919 commented on #125
Further  investigation, we can disable the dismiss animation to avoid this crash.
    [self dismissViewControllerAnimated:YES completion:NULL];

[2014-07-17 05:40] Isuru-Nanayakkara opened #127 "Showing a UITableViewController as a popover"
Hi,

In my app, there is a UITableViewController. The cell is a custom cell with a button on it. I want to display a popover which is another smaller UITableViewController when that button pressed.

Below is my code,

**TableViewController.m** - The main table view with the custom cell

[code]

**MiniTableViewController.m** - The smaller table view which is the content view of the popover. Normal

[2014-07-17 14:46] mythodeia commented on #127
@Isuru-Nanayakkara
according to the documentation in order to use this method:
dequeueReusableCellWithIdentifier ... forIndexPath
you should register a nib or a class.

the reason it works in your "TableViewController" and not in the "MiniTableViewController" is that in the 1st one you are using a CustomTableViewCell. In the 2nd case you are using a simple uitableviewcell.
change it to a custom on

[2014-07-18 03:45] Isuru-Nanayakkara commented on #127
@mythodeia Hi, thanks for the reply. :) It worked :+1:

[2014-07-18 03:45] #127 closed, assigned to nobody

[2014-07-20 03:04] #126 closed, assigned to nobody

[2014-08-11 11:26] ciathyza commented on #113
I'm interested in that, too. Are there any plans to port the popover controller to Swift or add bridging so it can be used in a Swift project?

[2014-08-14 12:23] shvekiasaf opened #130 "Support for iOS8"
Do you plan to support iOS 8 soon?
There is an issue with changing orientations, it doesn't work well.

Thank you.

[2014-08-15 01:51] sammcewan commented on #130
I am actively working on fixing this here. Hoping to get it resolved next week.
https://github.com/sammcewan/WYPopoverController/tree/fix-iOS8-orientation-handling

[2014-08-17 06:34] shvekiasaf commented on #130
Thanks!

[2014-08-20 09:00] JanHalozan opened #132 "Landscape orientation issues"
I have a strange problem using `WYPopoverController` on landscape orientation with my app. Here is the scenario:

![ios simulator screen shot 20 aug 2014 10 55 01](https://cloud.githubusercontent.com/assets/5421084/3978445/e5792b5c-2847-11e4-8af8-590a2ba4e0e2.png)

So a view controller in landscape is presented and a button which allows the user to pop up a popovercontroller is added. When the but

[2014-08-21 11:29] #132 closed, assigned to nobody

[2014-08-25 21:06] sammcewan commented on #130
FYI for anyone viewing this the above PR resolves key issues mainly relating to changes in orientation handling in iOS8. This fixed this library for me. Would love to get this merged but activity on this repo has been dead for months.

[2014-08-26 01:00] gpdawson commented on #130
Thanks Sam - this is a really useful control - your work to update it is appreciated by me, at least.

[2014-08-26 08:29] Wisors commented on #125
A temporary solution to fix crash:

[code]

[2014-08-28 13:37] criistii commented on #118
Hey, anyone got a solution for this?

[2014-08-28 21:37] vitalys commented on #130
@sammcewan, thanks for your fix, but there is a serious bug. You add observer for `preferredContentSize` value on every call of `presentPopoverFromRect`, but it can be called to move popover, without dismissing. As result you can add observer more than one time and remove it only once in `dismissPopoverAnimated`. Additional flag like `isListeningNotifications` is required to avoid this.

[2014-08-28 21:41] sammcewan commented on #130
@vitalys Thanks for raising. Please feel free to get a fix into this iOS8 support branch.

[2014-08-29 11:27] vitalys commented on #130
@sammcewan, I've just created a pull request with my fix.

[2014-08-29 14:31] pablogeek commented on #130
Please ios8 is comming , I hope to get the library fixed in a few days ;)

[2014-08-29 20:01] sammcewan commented on #130
Use the branch in the pull request we've been working on @pablogeek. I doubt we'll see it accepted any time soon.

[2014-08-30 09:36] pablogeek commented on #130
I'm using cocoapods, can I use the branch in the pull request on cocoapods?

[2014-09-01 10:02] ashavit commented on #130
@pablogeek You can use this line for the podfile:
pod 'WYPopoverController' ,:git => 'https://github.com/sammcewan/WYPopoverController.git', :branch => 'fix-iOS8-orientation-handling'
It takes @sammcewan fix, and it worked for me

[2014-09-02 14:11] nickkuh opened #133 "Reposition a WYPopoverController instance"
There doesn't seem to be a way to reposition an instance of WYPopoverController once it's been presented or have I missed something?

[2014-09-02 16:04] vitalys commented on #133
Call `presentPopoverFromRect:...` method one more time with new rect and your popover will be repositioned.

[2014-09-02 16:14] nickkuh commented on #133
That sort of works but calling presentPopoverFromRect also executes a bunch of unnecessary code such as

[strongSelf->viewController addObserver:self forKeyPath:NSStringFromSelector(@selector(preferredContentSize)) options:0 context:nil];

This gets called multiple times and results in memory leaks.

I ended up forking and adding a method for updating the position:

https://github.com/nickkuh/WYPo

[2014-09-02 16:20] vitalys commented on #133
Use this branch: https://github.com/sammcewan/WYPopoverController/tree/fix-iOS8-orientation-handling
There are no leaks in case if `presentPopoverFromRect:` called more than once

[2014-09-02 16:21] nickkuh commented on #133
Ah - great. Thanks.

[2014-09-02 16:24] vitalys commented on #133
I vote for re-use of `presentPopoverFromRect`, because UIPopoverController works in this way.

[2014-09-05 16:26] RayzorDragon commented on #130
I'm still having a problem with production builds on ios 8 beta devices still showing the popups sideways despite using the ios 8 fix branch. This does not happen when building debug builds on either my simulators or on my same ios 8 beta devices. Has anyone else experienced this?

[2014-09-08 14:49] pablogeek commented on #130
I have this problem in iOS8

![img_0004](https://cloud.githubusercontent.com/assets/1773546/4187160/567642da-3767-11e4-9921-8e8dbd99fb0f.PNG)

[2014-09-08 21:45] dkhamsing opened #134 "Unused function warning for WYStringFromOrientation"
Using Xcode 5

[2014-09-08 21:55] sammcewan commented on #130
@pablogeek The popover is behaving correctly I suspect this could be something to do with implicit autolayout constraints. I would start there. If you find a fix please PR to my branch. I will surely accept. I'll have a look if I have time this weekend too.

[2014-09-09 21:47] dkhamsing opened #135 "Initialization of pointer type warning"
For https://github.com/nicolaschengdev/WYPopoverController/blob/master/WYPopoverController/WYPopoverController.m#L833

Xcode 6 complains about returning `NO`.. would `return nil` work?

[2014-09-15 07:42] KhaHC opened #136 "presentPopoverAsDialogAnimated not working"
- (void)presentPopoverFromRect:(CGRect)aRect
                      inView:(UIView *)aView
    permittedArrowDirections:(WYPopoverArrowDirection)aArrowDirections
                    animated:(BOOL)aAnimated
                     options:(WYPopoverAnimationOptions)aOptions
                  completion:(void (^)(void))completion

Missing create view when using - (void)presentPopoverAsDialogAnimated:(B

[2014-09-15 15:08] MrArtichaut commented on #136
It doesn't work for me when calling presentPopoverAsDialogAnimated from a ViewController presented with option UIModalPresentationFullScreen.

[2014-09-15 22:35] sammcewan opened #137 "NOTE: Am maintaining this project actively on a fork"
We're a day or two away from iOS8 and a bunch of us have been actively maintaining this great library on my fork:

https://github.com/sammcewan/WYPopoverController

After some ethical deliberation I have now claimed and updated the pod accordingly after attempting to contact the author numerous times over the last month or so. Will absolutely change everything back if he becomes active.

I will be

[2014-09-16 09:40] vitalys commented on #137
Is there a way to enable 'Issues' in your repository? It will be handy to report and manage further problem there.

[2014-09-16 10:34] ashavit commented on #137
@sammcewan Cool, Thanx man

[2014-09-16 10:58] sammcewan commented on #137
@vitalys good call. Sorted.

[2014-09-20 20:06] omarfraiwan opened #139 "iOS8 landscape : the pop over shown rotated "vertical""

[2014-09-21 12:39] dannyshmueli commented on #139
+1

[2014-09-21 14:28] mythodeia commented on #139
@omarfraiwan and @dannyshmueli
did you check this? https://github.com/nicolaschengdev/WYPopoverController/issues/130
@sammcewan is actively maintaining it now

[2014-09-21 20:37] sammcewan commented on #139
@omarfraiwan https://github.com/sammcewan/WYPopoverController/tree/fix-iOS8-orientation-handling

[2014-09-24 10:56] tsutsuken commented on #136
I have same problem in iOS7 and 8.

[2014-09-24 15:52] danielwilliamson commented on #130
I am also experiencing a problem where the view cuts off but only in a when selecting a particular cell in the third column. Very weird, the default popover works fine. Any help would be great. Thanks
![screen shot 2014-09-24 at 16 50 17](https://cloud.githubusercontent.com/assets/6487407/4391159/bf218d56-4402-11e4-81e8-a3ee0d6517f8.png)
![screen shot 2014-09-24 at 16 50 24](https://cloud.githubus

[2014-09-25 06:31] plenilune commented on #139
Thanks, excellent stuff.

[2014-09-25 09:51] VrasidasP opened #140 "iOS8 UIAlertController hides behind WYPopoverController"
![screenshot](https://cloud.githubusercontent.com/assets/6231277/4402599/29ff1d3c-4499-11e4-92ed-d9716574d7f2.png)

In iOS 8, using UIAlertController to present an alert, a visible WYPopoverController in the center of the screen it will be on top of the alert.

I tried presenting the UIAlertController from the keyWindow but the result is the same, the WYPopoverController is on top of everything.

[2014-09-26 18:27] hirad opened #141 "Content View Appears at Window (0, 0) Instead of Background View Origin in iOS 8 with Auto Layout"
In iOS 8, the content view will appear at the origin of the window, instead of the background view. I'm not sure if this problem is _always_ happens, but in my case it happens when the content view (ie. the presented view controller's view) uses Auto Layout.

This used to work fine in iOS 7, and I can't tell what changed.

Here's a popover in iOS 7:
![screen shot 2014-09-26 at 11 23 05 am](https:/

[2014-09-30 20:25] morgman commented on #94
Just ran into this same problem... two taps in quick succession reliably cause this error.
Any thoughts on how to fix/prevent?

[2014-10-01 12:08] garethknowles commented on #141
I had a similar issue.

I believe an updated fork of the project can be found at:
https://github.com/sammcewan/WYPopoverController

And this issue seems to be fixed in v0.3 so if you using pods:
    pod 'WYPopoverController', '~>0.3.0'

[2014-10-01 22:07] 128keaton opened #142 "Unable to dismiss popover...from popover."
Hey everyone, I am having an odd issue thats easy to solve, I probably just can't see it. Basically, I am trying to programmatically dismiss the popover from the popover, for which I haven't had success with.
Here is the code I am trying (hooked up to a button in the popover):
[self.delegate dismissPopoverAnimated:YES];
where delegate is set to:
selectionViewController.delegate = (MasterViewContro

[2014-10-02 00:11] medington commented on #134
FWIW, this is the only warning in over 15 Pods that are used by our project. Would be nice to have this cleaned up.

[2014-10-02 09:10] onmyway133 commented on #130
Why not use a version check and use UIPopoverPresentationController for iOS 8 ?

https://developer.apple.com/library/ios/documentation/UIKit/Reference/UIPopoverPresentationController_class/index.html
http://stackoverflow.com/questions/25319179/uipopoverpresentationcontroller-on-ios-8-iphone

You can write a wrapper like this FTGPopoverController https://gist.github.com/onmyway133/b62f79b885a71c41a

[2014-10-03 02:54] onmyway133 commented on #139
For anyone looking for a solution, you can write a wrapper like this [FTGPopoverController, a popover that works on both iOS 7 and iOS 8](https://gist.github.com/onmyway133/b62f79b885a71c41a22a)

[2014-10-03 04:03] gitsumakwel commented on #142
Hello keaton. I was trying to dismiss the popover myself. I just want to share what i got so far.

1: WYPopoverController.h - add on top
    @class WYPopoverBackgroundView;
2: WYPopoverController.h - find
    interface WYPopoverBackgroundView
3: add
    @property(nonatomic, assign) id&lt;WYPopoverBackgroundViewDelegate&gt; delegate;
4: add this protocol
    #pragma mark
    #pragma mark - WYPopove

[2014-10-03 14:21] 128keaton commented on #142
@gitsumakwel so this works? I will experiment later today, thanks for your input.

[2014-10-04 10:06] gitsumakwel commented on #142
yes it works completely.

its for custom popover.
you can do what i just  did to dismiss the custom popover by pressing a
button.

On Fri, Oct 3, 2014 at 10:21 PM, Keaton Burleson notifications@github.com
wrote:

[2014-10-05 00:15] 128keaton commented on #142
@gitsumakwel thanks! This works well, going to close, hopefully it helps other people.

[2014-10-07 11:18] tkach commented on #139
@onmyway133 thanks for your suggestion!

[2014-10-07 13:57] squarefrog commented on #134
Just put `__unused` before the declaration.

[2014-10-07 17:06] medington commented on #134
@squarefrog Thanks. That's exactly what PR #117 does. I just need it merged and pushed into an official CocoaPod release. In the meantime, there is always the pod specific warning disablement but that's what I'm trying avoid.

[2014-10-07 17:33] squarefrog commented on #134
:+1: yes the pod inhibit warnings flag can be used, but as you say, it's not something that should be used for such a trivial fix!

[2014-10-07 18:06] sammcewan commented on #134
This is merged in 0.3.2 which I'm maintaining from my fork. The original developer has disappeared. Update the pod.

On Wednesday, 8 Oct 2014 at 06:33, Paul Williamson notifications@github.com, wrote:

 yes the pod inhibit warnings flag can be used, but as you say, it's not something that should be used for such a trivial fix!
 —
Reply to this email directly or view it on GitHub.

[2014-10-07 18:11] medington commented on #134
Do I just need to update the Podfile to point to 0.3.2? So the master podspec now comes from your fork?

I was a bit confused about why the message the other day about the PR being merged wasn't from the original developer, but now I get it! :bulb:

[2014-10-07 19:01] sammcewan commented on #134
@medington that's the one! :+1:

[2014-10-10 00:51] 128keaton commented on #142
@gitsumakwel tried adding:
@property(nonatomic, assign) id<WYPopoverBackgroundViewDelegate> delegate;
but it just errors

[2014-10-20 02:44] pebble8888 opened #143 "viewDidAppear is called twice in some case"
Sample project for iPad is here.
https://github.com/pebble8888/PopoverSample

[2014-10-21 00:35] pebble8888 commented on #143
I fixed the problem in my branch.
https://github.com/pebble8888/WYPopoverController

Why does it call view{ Will | Did }{ Appear | Didappear } expressly so far?

[2014-10-21 07:09] DenDoronin opened #144 "addObserver: forKeyPath: exc_bad_access"
Hi, I'm getting this error on the next case:
1. i show popover on button press, where i used  presentPopoverFromRect:
                                                     inView:
                                   permittedArrowDirections:
                                                   animated:
2.  dissmiss popover with [self.customPopoverController dismissPopoverAnimated:YES];
       self.cu

[2014-10-21 07:11] sammcewan commented on #144
This should be fixed in the fork I'm maintaining.

On Tue, Oct 21, 2014 at 8:09 PM, DenDoronin notifications@github.com
wrote:

[2014-10-21 07:29] finddoc opened #145 "NSInternalInconsistencyException when presentPopoverFromRect"
**\* Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'An instance 0x7fb51bf83970 of class DoctorLocationAddrPopoveredViewController was deallocated while key value observers were still registered with it. Current observation info: <NSKeyValueObservationInfo 0x7fb51b9d86c0> (
<NSKeyValueObservance 0x7fb51b9d7760: Observer: 0x7fb51e5bcc30, Key path: preferredCon

[2014-10-21 17:07] DenDoronin commented on #144
great, thanks!

[2014-10-22 02:41] skywalkerlw opened #146 "iOS8 issue:"
Even I have set contentSizeForViewInPopover = {320, 380}, the size is still very small
![screenshot_22_10_2014_12_25_pm](https://cloud.githubusercontent.com/assets/2090084/4730181/cbd90130-5994-11e4-86c7-a83a6f7e7ede.png)

[2014-10-23 00:12] khoudor84 opened #147 "unable to set transparent background"
I want to create transparent popup. I can't get rid of white background. I am using ios8 (maybe the bug is here :). I got a lot of white backgrounds in different views after upgrade).

I am doing it like this:
[WYPopoverController setDefaultTheme:[WYPopoverTheme theme]];
        WYPopoverBackgroundView *appearance = [WYPopoverBackgroundView appearance];
        [appearance setBackgroundColor:[UICo

[2014-10-23 00:16] khoudor84 commented on #146
Hi!

I'm doing it like this (it's working in ios8):
popOver.popoverContentSize = CGSizeMake(320,380);

Be sure that you unchecked AutoLayout in interface builder for this view.

[2014-10-23 09:40] skywalkerlw commented on #146
I'm using iOS8.1 under Xcode6.1
I use your demo "WYPopoverDemo" and found the problem exists too
![define wy_popover_min_size cgsizemake 240 160](https://cloud.githubusercontent.com/assets/2090084/4750939/7dba97fc-5a98-11e4-9e4d-a97cf5859661.png)

[2014-10-23 11:50] khoudor84 commented on #146
Try this https://github.com/sammcewan/WYPopoverController .
It is fixed version for ios 8.

[2014-10-24 01:06] skywalkerlw commented on #146
Thanks so much.

[2014-10-28 15:03] Yak0xff opened #148 "Why return NO?"
In  this func, why return NO if self.testHits is YES?
- (UIView *)hitTest:(CGPoint)point withEvent:(UIEvent *)event
  {
  if (self.testHits)
  {
      return NO;
  }

  UIView *view = [super hitTest:point withEvent:event];

  if (view == self)
  {
      self.testHits = YES;
      UIView *superHitView = [self.superview hitTest:point withEvent:event];
      self.testHits = NO;

[code]

  }

  return

[2014-10-29 06:57] mohpor commented on #97
I still can't get the desired value. In my case I want my popover's width to be fitted inside another view I tried everything I know and it still has a little offset in the right.
This layout margin doesn't work either.
Gotta admit, I have a complex view hierarchy and my Popover should be presented from 3rd layer of container views, but I hope there's still a chance to do it.
Can anyone help on th

[2014-10-29 15:13] KoCMoHaBTa commented on #94
KVO Observers should be deregistered in dealloc.
In order to make it work properly - change the dealloc of WYPopoverController as following:
- (void)dealloc
  {
  [[NSNotificationCenter defaultCenter] removeObserver:self];

  [backgroundView removeFromSuperview];
  [backgroundView setDelegate:nil];

  [overlayView removeFromSuperview];
  [overlayView setDelegate:nil];

  barButtonItem = nil;
  pas

[2014-10-29 15:36] tkach commented on #147
Hi! Try setting

[code]

[2014-10-31 20:34] MikeBajakian opened #149 "Question: how to dismiss the containing popover from within the content viewcontroller?"
I have
    CustomUIViewController *contentViewController = [[CustomUIViewController alloc] init];

[code]

so now contentViewController is within popover controller.
if the user clicks a button in contentViewcontroller, I want popoverController to dismiss.
please help me achieve that.
thank you.

[2014-11-04 22:52] gabrielafonsogoncalves opened #150 "iOS 8 issue"
When the popover launch it covers all the screen.

[2014-11-05 09:21] #148 closed, assigned to nobody

[2014-11-05 17:13] rsanchezsaez commented on #140
Please, check if this is an issue on [sammcewan's fork](https://github.com/sammcewan/WYPopoverController) (which is actively maintained), and report it there if it is. Thanks.

[2014-11-05 17:14] rsanchezsaez commented on #142
Please, check if this is an issue on [sammcewan's fork](https://github.com/sammcewan/WYPopoverController) (which is actively maintained), and report it there if it is. Thanks.

[2014-11-05 17:15] rsanchezsaez commented on #143
Please, check if this is an issue on [sammcewan's fork](https://github.com/sammcewan/WYPopoverController) (which is actively maintained). If it is, report it there and/or submit a pull request to that fork. Thanks.

[2014-11-05 17:15] rsanchezsaez commented on #145
Please, check if this is an issue on [sammcewan's fork](https://github.com/sammcewan/WYPopoverController) (which is actively maintained), and report it there if it is. Thanks.

[2014-11-05 17:16] rsanchezsaez commented on #149
Please, check if this is an issue on [sammcewan's fork](https://github.com/sammcewan/WYPopoverController) (which is actively maintained), and report it there if it is. Thanks.

[2014-11-05 17:16] rsanchezsaez commented on #150
Please, check if this is an issue on [sammcewan's fork](https://github.com/sammcewan/WYPopoverController) (which is actively maintained), and report it there if it is. Thanks.

[2014-11-06 00:46] pebble8888 commented on #143
Thank you for your reply. I get it.

[2014-11-07 18:51] matanume commented on #145
It occur for me too. The reason is observer adding double called after animation done but the observer removing call only once when controller do dismiss.

[2014-11-11 21:44] kartikthapar opened #152 "iOS 8 support"
According to the README, only iOS 6 & iOS 7 are supported. Is there any work on iOS 8?

[2014-11-12 13:59] rsanchezsaez commented on #152
[sammcewan's fork](https://github.com/sammcewan/WYPopoverController) (the actively maintained one) fully supports iOS 8.

[2014-11-13 10:14] kartikthapar commented on #152
Thanks!

[2014-11-13 10:14] #152 closed, assigned to nobody

[2014-11-13 11:07] hushao commented on #139
anyone can open  https://github.com/sammcewan/WYPopoverController/tree/fix-iOS8-orientation-handling ?

[2014-11-14 16:38] vitalys commented on #139
@hushao use master branch of  https://github.com/sammcewan/WYPopoverController or one of the version tags

[2014-11-17 12:21] fuxlud opened #154 "Popover is dismissed when pressed outside of it, but doesn't when outside of it is swiped."
Popover is dismissed when pressed outside of it, but doesn't when outside of it is swiped.

[2014-11-18 07:57] cuichunjian opened #155 "Will WYPopoverController support arm64 ?"
you know, apple will reject any app that doesn't support arm64 before next Feb. That means all third-party frameworks in my project need support arm64. WYPopoverController is a good framework, so will it support arm64 proccessor?

[2014-11-24 12:57] kirtishjain9 opened #156 "Popover Position not correct in Landscape orientation"
Please provide any update on popover position in landscape orientation of device.
It seems that iOS 8 on iPhone6 and iPhone 6+ don't display popover with correct frame and arrow directions.

[2014-11-25 08:25] airbob commented on #130
thank you so much @sammcewan !

[2014-11-25 14:44] pirrate opened #157 "Not able to use with app_exrension"
I was trying to use it inside of my custon keyboard extension but keep getting this error /Keyboard/WYPopoverController.m:1826:45: 'sharedApplication' is unavailable: not available on iOS (App Extension) - Use view controller based solutions where appropriate instead.

[2014-11-26 07:56] Janne-M opened #158 "The Popover doesn't resize after a setPreferredContentSize."
I make a call to setPreferredContentSize in my viewWillAppear when I have calculated the appropriate size, but the Popover I'm contained in does not respect my change.
This is on iOS8.

I spent some time researching it and to me it look like it's due to the KVO addObserver call on these selectors (setPreferredContentSize & contentSizeForViewInPopover) are made in a concurrent block during initiali

[2014-11-27 04:37] alexeyismirnov commented on #156
This component is now maintained by another person. His repo works just fine on iOS8 landscape.

https://github.com/sammcewan/WYPopoverController

[2014-11-27 14:40] ghost commented on #154
@fuxlud - Did you find a solution here ?

[2014-11-27 19:15] fuxlud commented on #154
No

נשלח מה-iPhone שלי

‫ב-27 בנוב׳ 2014, בשעה 16:40, ‏‏mdaymond ‏notifications@github.com כתב/ה:‬

[2014-11-28 03:13] Shjv4 commented on #142
This is how I dismiss popUpVC:

in ParentViewController.h, declare an public method for dismiss popup view controller
- (void)dismissPopUpViewController;

in ParentViewController.m
- (void)dismissPopUpViewController {
  [self.popupVC dismissPopoverAnimated:YES];
  }

PopUpSpotViewController *popupSpotVC       = [[PopUpSpotViewController alloc] initWithNibName:@"PopUpSpotViewController" bundle:nil]

[2014-12-03 05:55] #143 closed, assigned to nobody

[2014-12-10 12:06] pedromancheno commented on #104
@akac Where you able to fix this issue? I just ran into it myself!

[2014-12-10 16:32] akac commented on #104
I don't use WYPopover anymore.

##

Alex Kac CEO/Founder
Transcribed by Siri

[2014-12-10 16:46] KatkayApps opened #159 "Don’t work on iOS 8 devices even if compiled for iOS 7"
popover never appears

[2014-12-23 14:16] squarefrog commented on #159
Works here with a build that targets both iOS 8 and iOS 7.

[2014-12-23 17:04] Ricardo1980 opened #160 "Why is my arrow rounded?"
Hello!

See attached screen. I'm looking for a flat style.
I only use this line:
[[WYPopoverBackgroundView appearance] setOuterCornerRadius:0];

As expected, the corners are flat, but the arrow is rounded. How can I remove the round in the arrow?

Thanks.

![captura de pantalla 2014-12-23 a las 17 50 34](https://cloud.githubusercontent.com/assets/738681/5540632/084e86ca-8ace-11e4-8e06-02f69e12eccd

[2014-12-24 03:56] tranthanhvu commented on #60
@hubertwang, I have the same problem but I don't know how to fix. I don't know What "border color" is. Could you please help me ?

[2014-12-25 13:07] tkach commented on #160
Hi, @Ricardo1980 , to make your arrow flat you need to set this flag to 0.
[[WYPopoverBackgroundView appearance] setUsesRoundedArrow:0];

Hope it helps.
BTW, this lib is now maintained by another person, please look at this fork
https://github.com/sammcewan/WYPopoverController

[2014-12-25 19:31] Ricardo1980 commented on #160
Thanks a lot @tkach

[2014-12-25 19:31] #160 closed, assigned to nobody

[2014-12-27 08:50] hubertwang commented on #60
@tranthanhvu It's inner stroke color. Just set it to clear color, then your problem will be fixed.
    WYPopoverBackgroundView *popoverAppearance = [WYPopoverBackgroundView appearance];
    [popoverAppearance setInnerStrokeColor:[UIColor clearColor]];

[2015-02-03 11:55] annamf commented on #158
I have the same problem only in iPads with iOS 8. Do you solve it?

[2015-02-06 18:11] juniarz commented on #113
You can copy the source into your project workspace and add 'WYPopoverController.h' into your bridging. No issues so far.

[2015-02-09 09:17] tranthanhvu commented on #60
@hubertwang :), I got the solution like your. Anyway, thanks for your reply.

[2015-02-26 05:40] FelipeCardoso89 commented on #93
Same problem here.

[2015-02-28 10:32] akshitzaveri commented on #157
Keyboard extension does not support UIViewControllers. Try UIViews only.

[2015-03-21 14:01] boazin opened #162 "Observation leak when calling dismissPopoverAnimated"
On iOS7 only (iOS8 it's OK) - when manually doing
`[popoverController dismissPopoverAnimated:YES];`

And than trying to re-open the popover (using `presentPopoverFromRect`)

I'm getting:
[code]

Tried to debug it - it seems that this is the `preferredContentSize` but this is as far as I succeeded

[2015-03-31 14:19] chlebta commented on #158
I got some issue, to solve I did like this :

[code]

in showPop method :dart:

[2015-04-07 22:21] franklau12 commented on #162
I have the same problem. It also happens on iOS 8 for me.

[2015-04-13 19:47] michael75431 opened #163 "XCode 6.3 Warning : Comparison of address of {object} not equal to null pointer is always true"
WYPopoverController line 3094, certain comparison issues

Suggested fix

<code>

CGRect anotherRect;
UIView *anotherInView;

 [delegate popoverController:self willRepositionPopoverToRect:&anotherRect inView:&anotherInView];

// prior comparison was not needed, anotherRect will always have a value

rect = anotherRect;

// compare the object, not the address

if (anotherInView != nil) {

[2015-05-04 18:58] marcelosalloum opened #164 "Letting another view in front of my popover"
Hey guys,

I am trying to add an overlay view (for user hints purpose) in front of my WYPopoverController, but even if I try to bring my overlay view to front, it never gets in front of WYPopoverController.

Is that a way to place another view in front of your popover?

Thanks,

[2015-05-21 18:25] MobileMon commented on #94
Adding onto @KoCMoHaBTa solution, I needed to try catch the observer in case it wasn't attached:

-(void)dealloc
{
    [[NSNotificationCenter defaultCenter] removeObserver:self];

[code]

}

[2015-05-21 19:04] sammcewan commented on #94
Check out the fork that's being maintained. This repo was the original but has been dormant for over a year.

[2015-05-27 07:47] imranali123 opened #165 "if the keyboard is up than popover not appearing from proper rect which i passed"

[2015-06-10 10:52] mefilt opened #166 "I show popover on display, but popover auto dismiss. Why?"
WYPopoverController *popover = [[WYPopoverController alloc] initWithContentViewController:con];
    popover.delegate = self;
    [popover presentPopoverFromBarButtonItem:self.navigationItem.rightBarButtonItem permittedArrowDirections:WYPopoverArrowDirectionUp animated:true];

[2015-06-10 11:10] mefilt commented on #166
oops, i'm fix instance WYPopoverController after showed, will release

[2015-06-10 11:10] #166 closed

[2015-06-15 14:59] alexrogachev commented on #162
Got the same problem. Repro is to try to display popover while dismiss animation is still going on, I think, or something like that. I reproduced the crash basically by tapping very fast on a button inside my view controller that shows the popover.

Fixed by adding this to the beginning of _[WYPopoverController dealloc]_ method:

[code]

[2015-06-16 06:13] Hussein75 opened #167 "auto dismiss when presenting popover"
I simply try to display a popover from titleView in navigation bar, when I present it, it automatically hides and calls dealloc on the WYPopoverController!

[2015-06-18 14:18] mefilt commented on #167
WYPopoverController variable - dont have strong reference, variable release, and call dealloc.

[2015-06-18 14:54] hussc commented on #167
Thank u, now it works

[2015-06-18 14:54] #167 closed

[2015-06-23 08:06] nikekannan commented on #137
Tried running the same in iPad.. but it crashes bcz of divide by 0 error

[2015-07-09 17:58] dgatwood commented on #163
IMO, it's a good practice to initialize variables first before such calls.  It may or may not be strictly necessary, depending on the method you're calling and depending on whether you're using ARC, but it would raise fewer red flags in my mind if you set anotherInView to nil when you declare it.

[2015-07-17 06:43] diegothucao commented on #145
How to fix the bug?

[2015-07-30 21:23] 98chimp commented on #142
@gitsumakwel: worked like a charm for me. thx for sharing

[2015-08-06 23:00] 128keaton commented on #142
Here is how I do it:

`UIWindow *mainWindow = [[[UIApplication sharedApplication] windows] objectAtIndex:0]; for (UIView *view in mainWindow.subviews) { if (view.class == [WYPopoverOverlayView class]) { [(WYPopoverOverlayView *)view touchesBegan:nil withEvent:nil]; } NSLog(@"Subviews %@", mainWindow.subviews); }`

[2015-08-06 23:00] #142 closed

[2015-08-12 18:53] Gauntletwielder opened #169 "Popup is Always Same Size!!!!"
I am trying this seemingly nice alternative to Apple's standard popup technique.

I like the extent to which the popup can be customized.

But not matter what ViewController I pass it, it ALWAYS puts the popup at the same location with the same size.  Here is the NSLog output from WYPopoverController:  [WYPopoverController positionPopover:] (2547) : popoverContainerView.frame = {{216, 30}, {336, 5

[2015-08-13 05:43] Gauntletwielder commented on #169
I FIXED this problem.

There is a problem in the logic of the of the contentSize method in WYPopoverController.m

I fixed the problem without modifying that implementation file.

The fix was to put both these methods in my ViewController.m file:
- (CGSize)contentSizeForViewInPopover {    // iOS 6
  return self.view.frame.size;
  }
- (CGSize)preferredContentSize {    // iOS 7 and later
  return sel

[2015-08-19 20:52] mahieddine commented on #139
Hi, is this project still maintained ? the fix for landscape mode doesn't work, i get the latest master version and it doesn't support landscape mode is there a fix for this ? thanks

[2015-08-20 11:05] tkach commented on #139
Hi, @mahieddine, have you tried this fork?
https://github.com/sammcewan/WYPopoverController
I have no issue with landscape mode since I started using new fork

[2015-08-21 09:52] mabril commented on #104
I'm having exactly the same problem. This is the conflicting code with the infinite loop. ¿Anyone?
- (void)sizzled_setPreferredContentSize:(CGSize)aSize
  {
  [self sizzled_setPreferredContentSize:aSize];

  if ([self isKindOfClass:[UINavigationController class]] == NO && self.navigationController != nil)
  {
  #ifdef WY_BASE_SDK_7_ENABLED
      if ([self respondsToSelector:@selector(setPreferredC

[2015-08-26 14:28] MohamedElzohirey opened #170 "turning off dimming for the main view."
turning off dimming for the main view.

[2015-09-08 05:20] vatsal1992 opened #171 "can't set Appearance on WYPopoverController"
i've seen the both example code and demo project. if it is possible, can you update your demo project with Appearance Code? because i use example code of Appearance but nothing change in popover. so, where to add Appearance in popoverController. (i'm new on iOS)

[2015-09-11 16:11] Rameshv commented on #139
thanks @tkach, you saved me a day :)

[2015-09-14 09:15] Junyi1227 commented on #158
I have the same problem only in iPads with iOS 8. Do you solve it?

I use autolayout.
when I get UI.frame, I don't change Pop Size
@Janne-M

[2015-09-28 08:04] kamarshad commented on #162
@alexrogachev  In this way application might crashed even my application is crashing if I tap very fast on button (which  use to display popover).
Any alternate to fix that

[2015-09-28 20:07] richiewoo commented on #74
How to fix the issue?

[2015-10-07 18:09] gabinogueira commented on #171
Hi,
What I did for change the appearance was this:

[code]

In the WYPopoverTheme object, you can change everything you want, like the methods themeForIOS6 and themeForIOS7 of the WYPopoverController class.

[2015-10-24 05:05] AmanIcreate opened #172 "Not able to set appearance"
Can you tell me how to set appearance of wypopovercontroller...

[2015-10-24 11:36] vitalys commented on #172
For example

[code]

[2015-11-06 19:39] ManueGE commented on #149
In case anyone is still interested on this, I fixed this issue creating a category:

[code]

[code]

Hope it helps someone.

[2015-11-09 15:02] abdullahumer commented on #159
I am having the same issue. Has anyone solved it? My app target is iOS 7.1 and device is running 9.1 and popover never appears.

[2015-12-01 13:06] mikeRozen opened #173 "Presenting Modally ViewController on top of popOverController won't cover it."
Hi Tnx for your work.
I noticed if I present modally a new view controller the popOvercontroller still remains (yes I know its possible to dismiss it but my case is little different ). Do you think its possible to make the presented view cotroller cover the popoOverController?
Tnx.

[2015-12-01 14:03] mikeRozen commented on #173
I added a method :

[code]

Do u think its a good Idea?

[2015-12-29 06:21] #171 closed

[2016-01-25 09:21] mixo44 opened #174 "App crashes when I try to show/hide faster."
-[WYPopoverController positionPopover:] (2518) : popoverContainerView.frame = {{10, 58}, {355, 599}}
2016-01-25 13:16:32.971 PTO[5396:2144757] *** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'An instance 0x156f4a9c0 of class HelpPopoverViewController was deallocated while key value observers were still registered with it. Current observation info: <NSKeyVa

[2016-01-28 07:39] Loiszgit commented on #94
@property(nonatomic,strong)WYPopoverController *popvc;

[2016-02-02 10:29] woodydaniel commented on #162
Has this issue been addressed?
Also getting this crash

[2016-02-02 10:30] woodydaniel commented on #174
getting the same crash. Has anyone found a solution?

[2016-02-02 10:31] vitalys commented on #162
@woodydaniel This repository is abandoned. Try this one:  https://github.com/sammcewan/WYPopoverController

[2016-02-02 10:39] woodydaniel commented on #162
Thanks @vitalys

[2016-03-14 09:12] makc99 opened #176 "Buttons is gray when popover showed"
Hello,

1) When I present popover all buttons are grayed. I need the buttons are not changed. I did not find the needed setting. Please tell me there is such a setting? Or that the change in the code?

2) When popover is presented I get incoming call. In my view controller called viewWillDisapear. In this method I dismiss popover. But after call all buttons in application are gray.

Thank you.

[2016-04-13 08:29] rahulvyas commented on #173
does this fixed the issue ?
Where did you added this method ?

[2016-04-15 09:28] A1exandre commented on #176
Same issue here. Quite weird. It seems to do that only on buttons for which I have applied a tint.

[2016-04-18 14:34] SebastienMichoy commented on #174
I just fixed this issue in the pull request #177.

[2016-04-18 15:37] vitalys commented on #174
@SebastienMichoy This repository is abandoned, so your PR won't be merged.
Try this fork: https://github.com/sammcewan/WYPopoverController

[2016-04-21 10:45] daizim opened #178 "It will disappear immediate"
It will disappear immediate unless set in globe variable.
[code]

[2016-04-26 01:14] joindn commented on #149
thank you! @ManueGE

[2016-04-26 07:38] #178 closed

[2016-05-25 17:50] abhi2412shek opened #179 "Rotation Issue"
when the popover is shown and the device is rotated upside down...the content within it doesn't rotate

[2016-06-17 15:27] ikousik opened #180 "Continuous opening WYPopoverController crashing my application."
I have integrated WYPopoverController in my app. Continuous click for opening WYPopoverController crashing my application. It's happening with the demo too. Just keep on clicking the Center button in the demo.

Crash Reason
    WYPopoverDemo[550:139219] popoverControllerDidPresentPopover
    WYPopoverDemo[550:139219] *** Terminating app due to uncaught exception 'NSInternalInconsistencyException',

[2016-06-25 10:59] iwill opened #181 "The color of top and left borders can not be customized"
I set every color property of the theme to clear color, but the color of top and left borders is still gray.

And I found the following line in the WYPopoverController.m, the color should be customizable.

[code]

[2016-06-28 08:21] prathibha-sundresh commented on #180
When can u fix this issue??

[2016-06-28 08:21] prathibha-sundresh commented on #174
When are u fixing this issue

[2016-06-29 05:46] SebastienMichoy commented on #174
@prathibha-sundresh This issue has been fixed in this repository : https://github.com/sammcewan/WYPopoverController.

[2016-07-12 15:05] yalamandarao commented on #180
Me to facing same issue.. When user tap on continous button then application crash

[2016-08-04 07:31] Ravi61 commented on #104
Issue will be fixed if they merge pull request.
Till then instead of line
[self.navigationController setPreferredContentSize:aSize];

you write
[self.navigationController sizzled_setPreferredContentSize:aSize];

Hope it will fix your problem.

[2016-09-02 09:41] abhi2412shek commented on #179
still facing this issue. orientation issue

[2016-11-29 03:45] chunta commented on #145
I just turn off animation, popover works well in this repo.

[2016-12-27 03:44] xiedongming opened #183 "Adapter iPad problems encountered"
![60af2772-b0d4-4411-b95a-d15392719772](https://cloud.githubusercontent.com/assets/11953780/21489832/89043834-cc29-11e6-9f81-76d8d11337c5.png)
I was doing iPad project, found that after the introduction of a problem,
Can you add iPad adaptation later

[2017-01-06 13:01] kristjanpirnpuu commented on #176
I have same issue. As a workaround I changed dimsBackgroundViewsTintColor in WYPopoverTheme to NO.

[2017-06-21 14:11] kishorehvk opened #184 "Dismiss Popup"
Hi , I am using your library to show UINavigationViewController embed in with another view controller. Now i will i dismiss the navigationViewController.

Thanks in Advance

[2017-07-21 04:34] BugFinder27 opened #185 "Please convert it into Swift 3 syntax."

[2017-08-02 07:39] ItsMyLifeDude commented on #174
@SebastienMichoy  it does not fixed am also having problem when opened and closed fast it crashes (Am USing it in swift) Error:libc++abi.dylib: terminating with uncaught exception of type NSException

[2017-08-03 10:09] SebastienMichoy commented on #174
@ItsMyLifeDude What repository are you using? This one, or its fork https://github.com/sammcewan/WYPopoverController?

[2017-10-20 11:44] ivulyov90 opened #186 "Xcode 9 warnings"
I have few warnings in Xcode 9.0.1
It will be nice to fix them

Pods/WYPopoverController/WYPopoverController/WYPopoverController.m:1841:27: This block declaration is not a prototype
Pods/WYPopoverController/WYPopoverController/WYPopoverController.m:2401:30: This block declaration is not a prototype
Pods/WYPopoverController/WYPopoverController/WYPopoverController.m:2413:26: This block declaration i

[2017-11-15 09:16] 18667366881 opened #188 "Hello, please click the button to click the way to get through the storyboard button"
Hello, please click the button to click the way to get through the storyboard button

[2018-02-24 09:15] fukemy commented on #44
which class import to include WYPopoverBackgroundView?

[2018-08-14 12:30] SABARISHMCA opened #189 "Accessibility Issue"
i am using WYPopoverController to display the List items on a button click in Popover . If the user tabs of button Popover display with list items and focus is happened on selected items only but with user interaction refocusing is get happening to first item of the list and voice over is confirms the same if user swipe also this issue is repeated can i know how to solve this bug ?

[2018-12-18 10:05] ElKnarzo commented on #93
I solved the problem by changing the presentation style of the controller to be opened to "OverFullScreen".

[2020-11-25 19:34] #122 closed